<ul class="breadcrumb">

  <li class="breadcrumb-default">Product Category</li>

  <!-- orderBy:'id':true" -->
  <li class="breadcrumb-category"
    *ngFor="let category of data">
    <a class="category-a"
      [routerLink]="['/product-category/', category.IDXSupplier, category.IDX]">{{ category.Name_En }}</a>
    <section class="category-samelevelcategories">

      <div *ngFor="let subCategory of category.SameLevelCategories">
        <a [routerLink]="['/product-category/', category.IDXSupplier, subCategory.IDX]"
          class="category-samelevelcategories-a">{{ subCategory.Name_En }}</a>
      </div>

    </section>
  </li>

  <!-- <li ng-if="masterproductlevel">{{::masterproductlevel}}</li> -->

</ul>
