<ul class="breadcrumb">
  <li class="breadcrumb-default">Product Category</li>
  <!-- ng-repeat="subCategory in breadcrumbdata | orderBy:'id':true" -->
  <li class="breadcrumb-category">
    <!-- href="/ProductCategory/{{subCategory.IDXSupplier}}/{{subCategory.IDX}}" -->
    <!-- <a class="category-a">{{::subCategory.Name_En}}</a> -->
    <section class="category-samelevelcategories">
      <!-- ng-repeat="sameLevels in subCategory.SameLevelCategories" -->
      <div>
        <!-- href="/ProductCategory/{{subCategory.IDXSupplier}}/{{sameLevels.IDX}}" -->
        <!-- <a class="category-samelevelcategories-a" >{{::sameLevels.Name_En}}</a> -->
      </div>
    </section>
  </li>
  <!-- <li ng-if="masterproductlevel">{{::masterproductlevel}}</li> -->
</ul>