<section class="RightSideArticleList clearfix"
  [ngClass]="{'RightSideArticleList-Active': isRightSideMenuOpen}"
  *ngIf="(isMobile && isRightSideMenuOpen) || (!isMobile && articles)">
  <h4 class="Float-Right Color-Black ContentTitle Font-Bold RightSideArticleContainer-ContentOuter-title">
    {{ articles[0].Title }}</h4>
  <div class="RightSideArticleContainer clearfix"
    appGetScrollData
    (scrolled)="onScrollDiv($event)">

    <div class="RightSideArticleContainer-ContentWrapper"
      *ngFor="let article of contentArticleLazyLoad">
      <div class="RightSideArticleContainer-ContentInner">
        <div class="RightSideArticleContainer-ArticleImg">
          <!-- href="/Article/{{::RightArticleCatDetails.IDX}}" -->
          <a>
            <img [src]="enviornment.baseUrl + article.PicUrl | getSmallImage"
              [alt]="article.Name_Fa" />
          </a>
        </div>
        <div class="RightSideArticleContainer-ArticleTitle">
          <!-- href="/Article/{{::RightArticleCatDetails.IDX}}" -->
          <a>
            <h4>{{ article.Abstract_Fa }}</h4>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>