<div class="container-fluid AboutUsSubCategory-Wrapper">
  <div class="row AboutUsSubCategory-Inner">

    <app-left-side class="hidden-xs col-sm-2 about-us-sides"></app-left-side>

    <div class="col-sm-8 AboutUsSubCategory-Sides">
      <section class="AboutUsCategory-MainDesc">
        <h1>مهندسی زیرساخت شبکه و دیتاسنتر</h1>
        <p>شرکت نوآوران شبکه <a href="http://farbin.ir"><span>فربین</span></a> با سال ها تجربه در صنعت پسیو شبکه، افتخار
          آن را دارد تا مطابق با استانداردهای روز این صنعت، زنجیره تامین مهندسی شده ای را ارایه نماید. خدمات این شرکت در
          قالب آموزش های تخصصی و مشاوره های حرفه ای از یک سو و تامین تجهیزات پسیو شبکه از معتبرترین تولید کنندگان به نام
          صنعت کابل کشی ساختار یافته از سوی دیگر است.
      </section>
      <section class="row AboutUsCategory-CategoryWrapper">
        <div class="col-xs-12 col-sm-6 col-lg-4 AboutUsCategory-Category">
          <a routerLink="news-and-events"><h5>اخبار و وقایع</h5></a>
          <p>از آخرین اخبار محصولات قابل ارایه در <a href="http://farbin.ir"><span>فربین</span></a> و خدمات این شرکت در
            زمینه کابل کشی ساختار یافته به روش های گوناگون مطلع شوید.</p>
          <a routerLink="news-and-events">اخبار و وقایع <span>></span></a>
        </div>
      </section>
    </div>

    <app-right-side class="hidden-xs col-sm-2 about-us-sides"></app-right-side>
    
  </div>
</div>