<article id="CatalogeMenuContainer" class="CatalogeMenu">

  <div id="CloseCatalogMenu" class="CursorPointer" (click)="onCloseCatalog()">&times;</div>
  <h3>Catalogs</h3>
  <div class="CatalogeMenu-LineOut">
    <div class="CatalogeMenu-LineIN"></div>
  </div>

  <div id="CatalogList">
    
    <div *ngFor="let supplier of suppliers">
      <div *ngIf="supplier.Name_En">
        <h4 class="CatalogHeader">{{ supplier.Name_En }}</h4><br />
        <section class="CatalogMenu-Items">
          <div class="CatalogList-Catalogs" *ngFor="let catalog of catalogs">
            <div *ngIf="catalog.IDRet === supplier.IDUser">
              <a href="{{ enviornment.baseUrl + catalog.PDFUrl }}">
                <img class="CatalogMenu-Item-CatalogImage" src="{{ enviornment.baseUrl + catalog.PicUrl }}" />
              </a>
              <strong class="clearfix">{{ catalog.Name_En }}</strong>
              <span>File size: {{ catalog.SizeOfPDF }}MB </span>

              <img src="assets/img/CopyToClipboarad.png" data-toggle="tooltip" class="CatalogMenu-Item-CopyToClipboard"
                title="Copy to clipboard" (click)="onCopyToClipboard(catalog.PDFUrl)" />
            </div>
          </div>
        </section>
      </div>
    </div>

    <h4 class="CatalogHeader">Videos</h4>
    <section class="index-catalog-videos">
      <!-- <staticgallerycarousel galleryname="CatalogStaticVideoCarousel" mobilecarouseloptions="{
          itemsMobile: [500,1.7],
          itemsTablet: [768,0],
          itemsDesktop: [1024,5]
        }">
      </staticgallerycarousel> -->
    </section>

  </div>

  <div class="CatalogeMenu-LineOut">
    <div class="CatalogeMenu-LineIN"></div>
  </div>

</article>