/* mobile-first */

#CatalogeMenuContainer {
  width: 100%;
  background-color: #f2f2f2;
  color: black;
  position: fixed;
  padding: 30px 15px;
  /* top: 200%; */
  top: 0;
  z-index: 99999;
  overflow-y: scroll;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  #CatalogeMenuContainer {
    padding: 30px 25px;
  }
}

@media screen and (min-width: 992px) {
  #CatalogeMenuContainer {
    padding: 30px 47px 30px 47px;
  }
}

#CatalogeMenuContainer h3 {
  text-align: left;
  color: #610040;
}

#CloseCatalogMenu {
  float: right;
  font-size: 35px;
  color: #333;
  cursor: pointer;
}

.CatalogeMenu-LineOut {
  width: 100%;
  border-top: solid 1px lightgray;
  margin-top: 4px;
}

.CatalogeMenu-LineIN {
  background-color: #2a2766;
  border: solid 2px #2a2766;
  margin-top: -3px;
  margin-left: -2px;
  display: block;
}

.CatalogList-Catalogs {
  width: 150px;
  margin: 3px 8px 7px 3px;
}

.CatalogList-Catalogs a {
  display: block;
}

.CatalogList-Catalogs a img {
  width: 100%;
  margin: 0px;
}

.CatalogList-Catalogs b {
  font-size: 11px;
  float: left;
  color: #610040;
}

.CatalogList-Catalogs span {
  font-size: 10px;
  float: left;
  color: black;
}

.CatalogList-Catalogs img {
  width: 20px;
  margin: 0;
  cursor: pointer;
}

.CatalogList-Catalogs p {
  display: none;
}

.CatalogHeader {
  color: #ffb500 !important;
  font-size: 18px !important;
  margin-top: 15px;
  padding: 5px 5px 5px 55px;
  background-color: #282829;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 30px 0 10px 0;
  display: inline-block;
  width: 200px;
  text-align: right;
}

.index-catalog-videos {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin-bottom: 20px;
  overflow-x: auto;
}

.index-catalog-video video {
  width: 100%;
  max-width: unset;
}

.Catalog-StaticVideo {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .CatalogeMenu-LineIN {
    border: none;
    border-top: 1px;
  }
  .index-catalog-videos {
    flex-flow: row wrap;
    /* margin-bottom: 150px; */
    justify-content: flex-start;
  }
  .index-catalog-video video {
    max-width: 300px;
  }
}

@media screen and (min-width: 992px) {
  #CatalogeMenuContainer {
    width: 90%;
    /* padding: 30px; */
    left: 5%;
    height: unset;
  }
  #CatalogList {
    overflow-y: scroll;
    height: calc(100vh - 120px);
  }
}

.CatalogMenu-Items {
  display: flex;
  overflow-x: auto;
}

.CatalogMenu-Item-CatalogImage {
  min-width: 150px;
}

.CatalogMenu-Item-CopyToClipboard {
  float: right;
}