.defaultpage-MainSlider .owl-nav button i {
  background: none;
  color: #ffb500;
  font-size: 40px;
}

.defaultpage-MainSlider .owl-next, .defaultpage-MainSlider .owl-prev {
  position: absolute;
  top: 95px;
}

.defaultpage-MainSlider .owl-next {
  right: 10px;
}

.defaultpage-MainSlider .owl-prev {
  left: 10px;
}

.defaultpage-MainSlider a {
  display: block;
}

.IndexBanner {
  width: 100%;
  background-color: #666695;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .defaultpage-MainSlider .owl-next, .defaultpage-MainSlider .owl-prev {
    top: 200px;
  }
  .IndexBanner {
    height: 100%;
  }
}

@media screen and (min-width: 992px) {
  .defaultpage-MainSlider .owl-next, .defaultpage-MainSlider .owl-prev {
    top: 110px;
  }
  .IndexBanner {
    background-size: 100% 100%;
  }
}

@media screen and (min-width: 1200px) {
  .defaultpage-MainSlider .owl-next, .defaultpage-MainSlider .owl-prev {
    top: 125px;
  }
}