<owl-carousel id="DefaultPage-BannerSlider" class="clearfix defaultpage-MainSlider" [options]="slideOptions"
  [carouselClasses]="['owl-theme', 'sliding']">
  <div *ngFor="let banner of banners">
    <a href="#" class="item">
      <img [src]="enviornment.baseUrl + banner.PicUrl_Mobile" class="IndexBanner"
        alt="نوآوران شبکه فربین - Farbin Corporation" />
    </a>
  </div>
</owl-carousel>

<!-- href="{{::BannerUrl.ForeignLink}}" -->
<!-- ng-src="{{::(IsMobile || (IsTablet && !IsLandscape)) ? ServerUrl + BannerUrl.PicUrl_Mobile : ServerUrl + BannerUrl.PicUrl}}" -->
<!-- [items]="images" -->