<article class="DefaultPage-Wrapper"
  *ngIf="products">

  <app-dynamic-slider></app-dynamic-slider>

  <div class="DefaultCarouselContainer">

    <section class="UnderSpotTitle">
      <h1 class="UnderSpotEn">Under Spot</h1>
      <div class="clearfix DefaultPage-UnderSpotEn-Clearfix"></div>
      <h2 class="UnderSpotFa DefaultPage-UnderSpotFa-Clearfix">زیر ذره بین</h2>
      <div class="clearfix"></div>
    </section>

    <section class="DefaultPage-MainCarousel">
      <app-product-carousel [carouselData]="carouselData"
        [data]="products"></app-product-carousel>
    </section>

  </div>

</article>
