<article class="TrainingAllCourses"
  *ngIf="coursesHeldList">
  <div class="TrainingAllCourses-Inner">

    <!-- header -->
    <section class="TrainingAllCourses-Title">
      <h1>{{ coursesHeldList[0].ChildTraininCourseCategoryName_Fa }} -
        {{ coursesHeldList[0].ParentTraininCourseCategoryName_Fa }}</h1>
    </section>
    <hr>

    <!-- body -->
    <section class="row TrainingAllCourses-Body">
      <a [routerLink]="['training-course-held', course.IDX]"
        class="col-xs-12 col-sm-4 TrainingAllCourses-Body-ItemOuter"
        *ngFor="let course of coursesHeldList">
        <div class="TrainingAllCourses-Body-Item">
          <img [src]="enviornment.baseUrl + course.PicUrl | getSmallImage"
            alt="{{ course.Name_Fa }}" />
          <div class="TrainingAllCourses-Body-ItemThumb">
            <p>{{ course.Name_Fa }}</p>
          </div>
        </div>
      </a>
    </section>

  </div>
</article>