<section class="CustomModal1" (click)="onCloseModalFromParnet($event)" #parent>
  <section class="CustomModal1-Inner CustomModal1-CurveCorner">

    <!-- Infrastructure -->
    <div class="CustomModal1-Info ScrollableModal-Content" *ngIf="displayContent === 1">
      <h3>ساخت یک آینده حرفه ای با فربین</h3>
      <p class="FarbinPurpleColor FontBold">فربین را بیشتر بشناسیم</p>
      <p>
        فربین یک مجموعه تخصصی است در زمینه معرفی٬ آموزش و مشاوره که با مشارکت و حمایت شرکت هایی که در
        عرصه
        صنعت زیرساخت انتقال اطلاعات ( ICT ) فعالیت دارند تلاش دارد تا فرهنگ این صنعت را در کشور توسعه
        دهد.
        اعضای فربین و علاقمندان به این صنعت می توانند در دوره های مختلف این مجموعه شرکت کرده و مهارت خود
        را
        در طراحی٬ نصب و نظارت بر پروژه های زیرساخت در سطح کاملا حرفه ایی ارتقا دهند. فربین در هر۳ ماه
        مفتخر
        است بیش از ۱۰۰ نفر را در حوزه ICT آموزش دهد که در این جمع بسیاری از کارشناسان فروش شرکت های فعال
        در
        صنعت پسیو که حداقل بیش از ۳ سال سابقه فعالیت حرفه ایی دارند به چشم می خورند. دفتر مرکزی فربین در
        تهران است و با همکاری بسیاری از شرکت های بومی در سطح استان های کشور نیز فعالیت می نماید.
      </p>
      <p class="FarbinPurpleColor FontBold">مفهوم ICT چیست؟</p>
      <p>به زبان بسیار ساده مفهوم ( ICT ( Information and communications technology به سیم٬ کابل و
        اتصالاتی در
        ساختمان اتلاق می شود که برای مصارف انتقال اطلاعات و ارتباطات به کار می روند. صنعت و فلسفه ICT را
        در
        زندگی بسیار راحت می توانیم جستجو کنیم. نیاز به وجود ارتبااطات تلفنی٬ انتقال دیتا٬ تصویر و حتی
        بسترهای ارتباطی بیسم مثال هایی از اهمیت این صنعت است. دنبال کردن صنعت ICT حضور آن را در همه
        ساختمان
        های دولتی٬ تجاری٬ آموزشی٬ درمانی٬ ورزشی٬ فرودگاه٬ راه آهن و ... نشان می دهد.</p>
      <br />
      <p>همراه شدن با تیم های نصب سریع ترین راه در آموختن این صنعت است لیکن برای ارتقا و تخصصی دنبال کردن
        ICT
        روش های آموزشی فربین که بر گرفته از استانداردهای انجمن بین المللی BICSI است می تواند بهترین روش
        ارتقا باشد.</p>
      <br />
      <p class="FarbinPurpleColor FontBold">سطح خود را به یک نصاب حرفه ایی ارتقا دهید</p>
      <p>ایجاد محیط های نصب و شبیه سازی مشکالاتی که در هنگام اجرای یک پروژه بوجود می آید در کنار سناریو
        های
        تست٬ بهترین راه حلی است که تجربیات نصاب های حرفه ایی را به شما انتقال می دهد. فربین با در نظر
        گرفتن
        برندهای متنوعی که در مارکت حضور دارند سناریو هایی را ایجاد می کند تا از نصاب سطح مبتدی به نصاب
        حرفه
        ایی تبدیل شوید.</p>
      <br />
      <p class="FarbinPurpleColor FontBold">مهندس فروش٬ طراح و ناظر شوید.</p>
      <p>بیشترین تمرکز فربین بر تربیت کارشناسان کارازموده است که بتوانند فرهنگ کابل کشی ساختار یافته را آن
        طور
        که در متون استاندارد و برندهای پسیو مطرح دنیا دیکته شده است دریافت نمایند. سرفصل های دوره ها به
        نحوی
        آماده شده که فارق از هجمه های بازار بتواند شاخصه هایی را ارایه نماید تا ارزیابی دقیقی از جایگاه
        برندها در دنیا بدست آوریم و با تکیه بر اصول کابل کشی ساختار یافته استراتژی طرحی را پیشنهاد دهیم
        که
        علاوه بر منطبق بودن با استانداردهای بین المللی قابل پیاده سازی با تمامی برندهای صنعت پسیو نیز
        باشد.
      </p>
      <br />
    </div>

    <!-- BrandSupporter -->
    <div class="CustomModal1-Info ScrollableModal-Content" *ngIf="displayContent === 2">
      <h3>صاحبین برند</h3>
      <p class="FarbinPurpleColor FontBold">صاحبین و متولایان برندهای پسیو</p>
      <p>آیا به آینده صنعت ICT فکر می کنید؟ آیا تصور می نمایید که تجهیزات پسیو و صنعت زیرساخت شبکه فرهنگی
        خاص
        برای معرفی دارند؟ آیا علاقمندید که فرهنگ برندینگ لوکس سبد کالاهای پسیو خود را مطابق با
        استانداردهای
        جهانی انجام دهید؟</p>
      <p>اعضای تیم فربین با بیش ۱۷ سال حضور پرنگ در معرفی بسیاری از برندهای پسیو مارکت٬ علاقمند هستند تا
        برند
        پسیو شما را نیز معرفی نمایند. </p>
      <br />
      <p class="FarbinPurpleColor FontBold">چرا فربین؟</p>
      <p>تمرکز فربین بر آموزش٬ فرهنگ سازی و برگزاری سمینارهایی تخصصی Structured Cabling است تا با مخاطب
        اصلی
        بدون واسطه در حوزه اعتماد قرار گیرد. از این رو روزانه به مخاطبین فربین اضافه می شود. این جمع
        بزرگ از
        مصرف کنندگان٬ ناظرین٬ طراحان٬ مهندسین فروش و کارفرمایان پروژه های زیرساخت بستر مناسبی هستند تا
        بتوانیم هدفمند برندهای مورد نیاز و یا سرویس های ارزش افزوده را معرفی نماییم. </p>
    </div>
  </section>
</section>