<aside class="AboutUsSubCategory-Sides AboutUsSubCategory-LeftSide">
  <article class="AboutUsSubCategory-LeftSideWrapper">
    <span class="AboutUsSubCategory-LeftSide-Title">دفتر مرکزی فربین:</span>
    <a
      href="https://www.google.com/maps/dir//35.7231495,51.4127882/@35.7231129,51.4127046,18.25z/data=!4m2!4m1!3e2">
      <img class="AboutUsSubCategory-LeftSide-MapImg" src="assets/img/AboutUsMap.jpg"
        alt="نوآوران شبکه فربین - Farbin Corporation" />
      <p>تهران، خیابان مطهری، لارستان، جهانسوز، پلاک 13</p>
      <p class="DirectionLtr AboutUsSubCategory-LeftSideWrapper-EnglishAddress">
        NO. 13 , Jahansooz St., Larestan St., Motahari ave., Tehran, Iran. P.O. Box: 1595846114
      </p>
    </a>
  </article>
</aside>