.AboutUsSubCategory-Sides ul {
  list-style: none;
  padding-right: 15px;
}

.AboutUsSubCategory-LeftSide {
  padding: 0;
}

.AboutUsSubCategory-LeftSideWrapper {
  background-color: rgb(236, 227, 212);
  border-radius: 10px;
  padding: 30px 0px;
  height: calc(100vh - 200px);
}

.AboutUsSubCategory-LeftSideWrapper p {
  margin: 5px 10px;
  font-size: 13px;
  color: #000;
}

.AboutUsSubCategory-LeftSideWrapper p:last-child {
  direction: ltr;
}

.AboutUsSubCategory-LeftSideWrapper {
  padding: 0px;
  padding: 5px 0px 10px 0px;
}

.AboutUsSubCategory-LeftSideWrapper-EnglishAddress {
  line-height: 17px;
  margin-top: 15px !important;
}

.AboutUsSubCategory-LeftSide-Title {
  font-size: 12px;
  font-weight: bold;
  margin: 10px 5px 10px 10px;
  color: #333;
  display: block;
}

.AboutUsSubCategory-LeftSide-MapImg {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .AboutUsSubCategory-LeftSide {
    width: 100%;
  }
}