.GalleryCarousel-OwlCarousel {
  margin: 10px 0px 40px 0px;
  direction: ltr;
}

.GalleryCarousel-OwlCarousel-Item {
  margin: 0 10px;
}

.GalleryCarousel-VideoItem {
  width: 100%;
}

.GalleryCarousel-Mobile {
  display: flex;
  direction: ltr;
  overflow: auto;
  margin-bottom: 25px;
}

.GalleryCarousel-Mobile::-webkit-scrollbar {
  height: 2px;
}

.GalleryCarousel-Mobile::-webkit-scrollbar-track {
  margin-right: 5px;
  background-color: transparent;
}

.GalleryCarousel-Mobile::-webkit-scrollbar-thumb {
  background-color: #666695;
  outline: 1px solid #666695;
}

.GalleryCarousel-Mobile-Inner {
  margin: 10px 15px 10px 0;
}