<article *ngIf="productsCompareList"
  class="compare-list">

  <!-- comapre list -->
  <section class="CompareContainer clearfix">

    <app-compare-title [title]="{ titleEn: 'Compare List', titleFa: 'لیست مقایسه' }"></app-compare-title>

    <section class="CompareList">

      <!-- compare button -->
      <input type="button"
        class="btnCompare"
        value="Compare"
        (click)="onSendToCompareDetail()">

      <div class="CompareItems">
        <div class="CompareItem"
          *ngFor="let index of comapreProductListCount">
          <app-compare-item [item]="productsCompareList[index]"
            [index]="index"
            (changedItem)="onRunGetComapreListData($event)"></app-compare-item>
        </div>
      </div>

    </section>

  </section>

  <!-- recently viewed -->
  <section class="RecentlyViewedContainer">

    <app-compare-title [title]="{ titleEn: 'Recently Viewed', titleFa: 'بازدیدهای اخیر' }"></app-compare-title>

    <div class="DefaultPage-MainCarousel">
      <app-recently-viewed-product-carousel [carouselData]="carouselData"
        [data]="recentlyViewedProducts"
        (productAdded)="onProductAdded()"></app-recently-viewed-product-carousel>
    </div>

  </section>

</article>
