<article class="TrainingGroupingCategory">
  <div class="TrainingGroupingCategory-Inner">

    <div class="TrainingGroupingCategory-Sections" *ngFor="let course of coursesHeldBatchList">

      <!-- header -->
      <section class="TrainingGroupingCategory-Header">
        <h2 class="TrainingGroupingCategory-Title">{{ course.Title }}</h2>
        <a [routerLink]="['../training-course-held-batch', course.IDX]" class="HoldingCourseAndExhibition-SliderHeader-Link">بیشتر</a>
      </section>
      <hr class="ColorLightGrayHr TrainingGroupingCategory-Hr" />
      
      <!-- carousel -->
      <app-training-courses-held-carousel [carouselData]="trainingCoursesHeldCarouselParams">
      </app-training-courses-held-carousel>
    
    </div>

  </div>
</article>