<article class="container-fluid AboutUsPage AboutUsSubCategory-Wrapper" 
  ng-controller="AboutUsNewsLetterController">
  <div class="row AboutUsSubCategory-Inner">
    <app-left-side class="hidden-xs col-sm-2 about-us-sides"></app-left-side>
    
    <!-- content -->
    <section class="col-xs-12 col-sm-8 AboutUsSubCategory-Sides AboutUsDetails-CenterSide">
      <h1>آرشیو خبرنامه</h1>
      <p>اخبار ارسالی گذشته را از دست داده اید؟ آرشیو فربین را جستجو کنید.</p>
      <!-- Tabs -->
      <ul class="nav nav-pills AboutUsDetails-CenterSide-TabSwitchersWrapper">
        <!-- <li class="AboutUsDetails-CenterSide-TabSwitchers" 
          ng-repeat="NewsLetterTitle in NewsLetterList.ContentCategory"
          ng-class="ItemIndex == $index ? 'active' : ''">
          <a href ng-click="setTab($event, $index)">{{::NewsLetterTitle.Name_Fa}}</a>
        </li> -->
      </ul>
      <!-- Tab boxes -->
      <div class="AboutUsDetails-CenterSide-TabDescWrappper">
        <div class="AboutUsDetails-CenterSide-TabDesc">
          <!-- Tabbox recursion -->
          <section class="NewsLetter-TabDesc-Recursion">
            <!-- tree -->
            <script type="text/ng-template" id="tree-structure">
              <section class="NewsLetter-TabDesc-Recursion-Body">
                <!-- <p ng-if="!SubCat.BeforeEditedName_Fa">{{::SubCat.Name_Fa}}</p> -->
                <ul>
                  <!-- <li ng-repeat="SubCat in SubCat.Content" ng-if="SubCat.Active">
                    <a href="/NewsLetterDetail/{{::SubCat.IDX}}">{{::SubCat.Name_Fa}}</a>
                  </li> -->
                </ul>
              </section>
              <ul class="NewsLetter-TabDesc-Recursion-Inner">
                <!-- <li ng-repeat="SubCat in SubCat.ContentCategory"
                  data-ng-include="'tree-structure'" 
                  id="Cat{{::SubCat.IDX}}">
                </li> -->
              </ul>
            </script>
            <!-- root -->
            <ul class="NewsLetter-TabDesc-Recursion-Outer" 
            id="List0">
              <!-- <li ng-repeat="SubCat in NewsLetterListSpec" 
                data-ng-include="'tree-structure'"
                ng-if="ItemIndex == $index"
                id="Cat{{::SubCat.IDX}}">
              </li> -->
            </ul>
          </section>
        </div>
      </div>
    </section>
    
    <app-right-side class="hidden-xs col-sm-2 about-us-sides"></app-right-side>
  </div>
</article>