<article id="CatalogeMenuContainer" class="CatalogeMenu">

  <!-- onclick="CloseCatalogMenu()" -->
  <div id="CloseCatalogMenu" class="CursorPointer">&times;</div>
  <h3>Catalogs</h3>
  <div class="CatalogeMenu-LineOut"><div class="CatalogeMenu-LineIN"></div></div>

  <div id="CatalogList">

    <!-- ng-repeat="Supplier in Suppliers" -->
    <!-- ng-if="Supplier.Name_En" -->
    <div>
      <!-- <h4 class="CatalogHeader">{{ Supplier.Name_En }}</h4><br /> -->
      <section class="CatalogMenu-Items">
        <!-- data-ng-if="Catalog.IDRet === Supplier.IDUser" -->
        <!-- ng-repeat="Catalog in Catalogs" -->
        <div class="CatalogList-Catalogs">
          <!-- <a href="{{ ServerUrl + Catalog.PDFUrl }}">
            <img class="CatalogMenu-Item-CatalogImage" ng-src="{{ ServerUrl + Catalog.PicUrl }}" />
          </a> -->
          <!-- <b class="clearfix">{{ Catalog.Name_En }}</b> -->
          <!-- <span>File size: {{ Catalog.SizeOfPDF }}MB </span> -->

          <!-- ng-click="CopyToClipboard(Catalog.IDCatalog)" -->
          <!-- data-toggle="tooltip"  -->
          <img src="assets/img/CopyToClipboarad.png" class="CatalogMenu-Item-CopyToClipboard"
            title="Copy to clipboard" />
          <!-- <p id="LinkOfCatalogIDCatalog{{ Catalog.IDCatalog }}">http://scmcenter.ir/{{ Catalog.PDFUrl }}</p> -->
        </div>
      </section>
    </div>

    <h4 class="CatalogHeader">Videos</h4>
    <section class="index-catalog-videos">
      <!-- <staticgallerycarousel galleryname="CatalogStaticVideoCarousel" mobilecarouseloptions="{
          itemsMobile: [500,1.7],
          itemsTablet: [768,0],
          itemsDesktop: [1024,5]
        }">
      </staticgallerycarousel> -->
    </section>

  </div>

  <div class="CatalogeMenu-LineOut"><div class="CatalogeMenu-LineIN"></div></div>

</article>