.ArticleContainer {
  background-color: #fff;
  min-height: calc(100vh - 120px);
}

@media screen and (min-width: 768px) {
  .ArticleContainer {
    min-height: calc(100vh - 110px);
  }
}

/* right side */

.RightSideArticleList {
  color: #fff;
  background-color: #333;
  position: absolute;
  right: -415px;
  bottom: 0;
  width: 80%;
  z-index: 10000;
  transition: 0.5s;
  top: 40px;
}

.RightSideArticleList .RightSideArticleContainer {
  margin: 20px 0 0 15px;
  width: 90%;
  direction: rtl;
  overflow-y: scroll;
  height: calc(100vh - 260px);
}

.RightSideArticleContainer-ContentOuter {
  margin-bottom: 50px !important;
}

.RightSideArticleContainer::-webkit-scrollbar {
  width: 5px;
}

.RightSideArticleContainer::-webkit-scrollbar-track {
  margin-right: 5px;
  background-color: lightgray;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  background-clip: content-box;
  -webkit-background-clip: content-box;
}

.RightSideArticleContainer::-webkit-scrollbar-thumb {
  background-color: lightgray;
  outline: none;
  border-left: 2px solid #333;
  border-right: 1px solid #333;
  background-clip: content-box;
  -webkit-background-clip: content-box;
}

.RightSideArticleContainer-ContentOuter-title {
  color: #fff !important;
  text-align: right;
  padding: 10px 20px;
  width: 100%;
}

.RightSideArticleContainer-ContentWrapper {
  padding: 20px 5px 0 20px;
}

.ContentTitle {
  padding: 0 0 15px 3px;
}

@media screen and (min-width: 768px) {
  .RightSideArticleList {
    width: 24%;
    color: #000;
    display: inline-block;
    float: right;
    padding-left: 8px;
    position: unset;
    background-color: white;
  }
  .RightSideArticleList .RightSideArticleContainer {
    margin: 15px 0 0 0;
    width: 100%;
    height: calc(100vh - 260px);
    max-height: none;
  }
  .RightSideArticleContainer::-webkit-scrollbar-track {
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
  .RightSideArticleContainer::-webkit-scrollbar-thumb {
    border-left: 2px solid white;
    border-right: 1px solid white;
  }
  .RightSideArticleContainer-ContentOuter-title {
    color: #000 !important;
    padding: 5px 30px 20px 0;
    font-size: 15px !important;
    padding-right: 22px !important;
  }
  .RightSideArticleContainer-ContentWrapper {
    padding: 0 22px 0 10px;
  }
}

@media screen and (min-width: 992px) {
  .RightSideArticleContainer-ContentWrapper {
    padding: 0 70px 0 10px;
  }
  .RightSideArticleContainer-ContentOuter-title {
    padding: 5px 70px 20px 0 !important;
  }
}

.RightSideArticleList-Active {
  right: 0;
}

/* contents */

/* content */

.ArticleContainer-HinderClicking {
  position: absolute;
  top: 40px;
  bottom: 50px;
  width: 100%;
  height: 100%;
  display: none;
}

.LazyLoadingMiddleGif {
  display: none !important;
}

.LazyLoadingMiddleGifMobile {
  margin: 0px auto 50px auto;
  width: 150px;
  height: 150px;
}

.ArticleCategory-DictionaryContainer-times {
  position: relative;
  top: 2px;
}

.ArticleListContainer {
  display: inline-block;
  float: left;
  margin-bottom: 30px;
  overflow-y: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
  padding: 0 10px 0 15px;
  height: calc(100vh - 160px);
}

.ArticleListContainer::-webkit-scrollbar {
  width: 5px;
}

.ArticleListContainer::-webkit-scrollbar-track {
  margin-right: 5px;
  background-color: lightgray;
  border-left: 2px solid white;
  border-right: 2px solid white;
  background-clip: content-box;
  -webkit-background-clip: content-box;
}

.ArticleListContainer::-webkit-scrollbar-thumb {
  background-color: lightgray;
  outline: none;
  border-left: 1px solid white;
  border-right: 2px solid white;
  background-clip: content-box;
  -webkit-background-clip: content-box;
}

.ArticleContainer {
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  color: #000;
  height: 92vh;
}

.LikeIcon {
  display: inline-block;
  width: 50px;
  margin-bottom: 3px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .ArticleListContainer {
    display: inline-block;
    float: left;
    overflow-y: scroll;
    direction: rtl;
    margin-top: 15px;
    position: relative;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
    padding: 0 0 0 8px;
    height: calc(100vh - 210px);
  }
  .ArticleListContainer::-webkit-scrollbar {
    width: 5px;
  }
  .ArticleListContainer::-webkit-scrollbar-track {
    margin-right: 5px;
    background-color: lightgray;
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-clip: content-box;
    -webkit-background-clip: padding-box;
  }
  .ArticleListContainer::-webkit-scrollbar-thumb {
    background-color: lightgray;
    outline: none;
    border-left: 2px solid white;
    border-right: 1px solid white;
    background-clip: content-box;
    -webkit-background-clip: padding-box;
  }
  .LazyLoadingMiddleGif {
    display: none;
    position: fixed;
    /*bottom: 20px;*/
    bottom: 60px;
    right: 0px;
    left: 0px;
    margin: 0px auto;
    width: 150px;
    height: 150px;
  }
  .LazyLoadingMiddleGifMobile {
    display: none !important;
  }
  .MiddleContainer {
    float: left;
    width: 55%;
  }
}

@media screen and (min-width: 992px) {
  .ArticleListContainer {
    width: 100%;
  }
}
