<article class="ArticleContainer" *ngIf="rightSideAtricles && leftSideArticles && randomDictionaryWord">

  <!-- navbar (mobile) -->
  <app-navbar (leftSideMenuOpen)="onLeftSideMenuToggle($event)" (rightSideMenuOpen)="onRightSideMenuToggle($event)"
    [dictionary]="randomDictionaryWord"></app-navbar>

  <!-- dictionary (desktop) -->
  <a class="DictionaryContainer" [routerLink]="['dictionary', randomDictionaryWord.IDX]" *ngIf="!isMobile">
    <span class="DailySentence">اصطلاحات پسیو</span>
    <div>
      <p class="DicTitle">{{ randomDictionaryWord.Title }}</p>
      <p class="DicAbastract">{{ randomDictionaryWord.Abstract }}</p>
    </div>
    <span class="DictionaryContainer-More">ادامه مطلب</span>
  </a>

  <!-- left-side -->
  <app-left-side [articles]="leftSideArticles" [isLeftSideMenuOpen]="isLeftSideMenuOpen"></app-left-side>

  <!-- content -->
  <app-articles-contents></app-articles-contents>

  <!-- right-side -->
  <app-right-side [articles]="rightSideAtricles" [isRightSideMenuOpen]="isRightSideMenuOpen"></app-right-side>

</article>