<div class="container-fluid AboutUsPage AboutUsSubCategory-Wrapper">
  <div class="row AboutUsSubCategory-Inner">

    <app-left-side class="hidden-xs col-sm-2 about-us-sides"></app-left-side>
    
    <article class="col-xs-12 col-sm-8 AboutUsSubCategory-Sides AboutUsSubCategory-CenterSide">
      <div class="AboutUsSubCategory-CenterSideWrapper">
        <h1>اخبار و وقایع</h1>
        <img src="assets/img/AboutUsTest.jpg" alt="نوآوران شبکه فربین - Farbin Corporation" />
        <div class="row AboutUsSubCategory-CenterSide-SubCatsDescWrapper">
          <section class="col-xs-12 col-sm-6 AboutUsSubCategory-CenterSide-SubCatDesc">
            <h5>آرشیو خبرنامه</h5>
            <p>مطالعه اخبار ایمیل شده <a href="http://farbin.ir"><span>فربین</span></a> را از دست داده اید؟ با جستجو در
              آرشیو خبرنامه های ارسالی با ما همراه شوید.</p>
            <a routerLink="news-letters">آرشیو خبرنامه <span>></span></a>
          </section>
          <section class="col-xs-12 col-sm-6 AboutUsSubCategory-CenterSide-SubCatDesc">
            <h5>آرشیو نمایشگاه ها</h5>
            <p>تاریخچه حضور فربین در نمایشگاه های مختلف و گالری تصاویر</p>
            <a routerLink="incident-list">آرشیو نمایشگاه ها <span>></span></a>
          </section>
        </div>
      </div>
    </article>

    <app-right-side class="hidden-xs col-sm-2 about-us-sides"></app-right-side>    

  </div>
</div>