<article class="Article-MenuBar-Wrapper">

  <!-- navbar -->
  <nav class="Article-MenuBar">

    <img id="LeftButton"
      (click)="onToggleLeftSide()"
      class="Article-MenuBar-Button Article-MenuBar-LeftButton EqIcon"
      [src]="isLeftSideMenuOpen ? 'assets/img/mul.png' : 'assets/img/eq.png'"
      alt="نوآوران شبکه فربین - Farbin Corporation" />

    <section class="DictionaryContainer Article-DictionaryContainer-MenuBar"
      (click)="onOpenDictionaryMenu()">
      <div class="Article-MenuBar-DailySentence">
        <span>اصطلاحات پسیو</span>
        <img class="ArticleMenuBar-DailySentence-img"
          [ngClass]="{'ArticleMenuBar-DailySentence-img-Animate': isDictionaryMenuOpen}"
          src="assets/img/down.png"
          alt="نوآوران شبکه فربین - Farbin Corporation" />
      </div>
    </section>

    <img id="RightButton"
      (click)="onToggleRightSide()"
      class="Article-MenuBar-Button Article-MenuBar-RightButton EqIcon"
      [src]="isRightSideMenuOpen ? 'assets/img/mul.png' : 'assets/img/eq.png'">

  </nav>

  <!-- dictionary page -->
  <section class="DictionaryContainer-MobileMenu"
    *ngIf="isDictionaryMenuOpen"
    [ngClass]="{
      'DictionaryContainer-MobileMenu-Active': isDictionaryMenuOpen,
      'DictionaryContainer-MobileMenu-MoreDetailsActive': isDictionaryMoreDetailsOpen
    }">
    <p class="MobileMenu-DicTitle">{{ dictionary.Title }}</p>
    <p class="MobileMenu-DicAbastract">{{ dictionary.Abstract }}</p>
    <p class="MobileMenu-DicDesc"
      [innerHtml]="dictionary.Value"
      *ngIf="isDictionaryMoreDetailsOpen"></p>
    <span class="MobileMenu-DicDescButton"
      (click)="onOpenDictionaryMoreDetails()">{{ isDictionaryMoreDetailsOpen ? '×' : 'بیشتر' }}</span>
  </section>

</article>