<!-- Desktop -->
<!-- <article *ngIf="isMobile || isTablet" class="ProductCarousel">
  <div id="Product{{::DynamicID}}" class="ProductCarousel-OwlCarousel owl-carousel" data-owl-carousel
    data-options=owlcarouseloptions>
    <article class="item ProductCarousel-Desktop-MainCarousel-Item" data-owl-carousel-item
      data-ng-repeat="DataDetails in datasource">

      <a href="/{{::pageurldirection}}/{{::DataDetails.IDX}}" class="ProductCarousel-Desktop-MainCarousel-ItemInner">
        <img
          ng-src="{{::DataDetails[dynamicfieldname] ? ServerUrl + DataDetails[dynamicfieldname] : staticurl | GetSmallImage}}"
          alt="{{::DataDetails.ProductName_En}} - {{::DataDetails.PartNumber}}"
          class="DefineItemImage{{::DataDetails.IDX}} ProductCarousel-Desktop-MainCarousel-ItemMainImage" />
        <section class="ProductCarousel-Desktop-MainCarousel-ItemDesc">
          <span class="UnderSpotPartNumber">{{::DataDetails.PartNumber}}</span>
          <div class="clearfix"></div>
          <span class="UnderSpotPartIndex">{{::DataDetails.IndexDescriptionText}}</span>
        </section>
      </a>

      <section class="ProductCarousel-Desktop-MainCarousel-Thumbnail">
        <img ng-src="{{::ServerUrl + DataDetails.IndexDescriptionPicUrl}}"
          class="ProductCarousel-Desktop-MainCarousel-Thumbnail-RandomImage" />
        <section class="ProductCarousel-Desktop-MainCarousel-ThumbnailDesc">
          <img src="/images/AddToListWhite.png" class="AddToListButton" data-placement="left" title="Add to List"
            tooltip
            alt="{{::DataDetails.ProductName_En}} - {{::DataDetails.PartNumber}}"
            ng-click="AddToMaterialList(DataDetails.IDDefineDetailProduct)" />
          <div class="clearfix"></div>
          <img src="/images/Compare.png" class="CompareButton" data-placement="left" title="Compare" tooltip
            alt="{{::DataDetails.ProductName_En}} - {{::DataDetails.PartNumber}}"
            ng-click="AddToCompareList(DataDetails.IDDefineDetailProduct,'DefineItemImage' + DataDetails.IDX)" />
        </section>

      </section>
    </article>
  </div>
</article> -->

<!-- Mobile -->
<article *ngIf="isMobile || isTablet" class="ProductCarousel-Mobile">
  <section *ngFor="let product of products" class="ProductCarousel-Mobile-Inner">

    <!-- href="/{{ pageurldirection }}/{{ DataDetails.IDX }}" -->
    <a href="#" class="ProductCarousel-Mobile-MainIamge">
      <img [appMobileTemplate]="productCarouselParams" class="DefineItemImage{{ product.IDX }}"
        alt="{{ product.ProductName_En }} - {{ product.PartNumber }}"
        [src]="(product[productCarouselParams.dynamicFieldName] ? enviornment.baseUrl + product[productCarouselParams.dynamicFieldName] : productCarouselParams.staticUrl) | getSmallImage" />
    </a>

    <!-- href="/{{::pageurldirection}}/{{::DataDetails.IDX}}"  -->
    <section class="ProductCarousel-Mobile-Thumbnail">
      <a href="#" class="ProductCarousel-Mobile-Thumbnail-Desc">
        <span class="ProductCarousel-Mobile-Thumbnail-UnderSpotPartNumber clearfix">{{ product.PartNumber }}</span>
        <span class="ProductCarousel-Mobile-Thumbnail-UnderSpotPartIndex">{{ product.IndexDescriptionText }}</span>
      </a>
      <section class="ProductCarousel-Mobile-Thumbnail-Buttons">
        <!-- ng-click="AddToMaterialList(DataDetails.IDDefineDetailProduct)" -->
        <!-- <img src="assets/img/AddToListWhite.png" class="AddToListButton clearfix" data-placement="left"
          title="Add to List" alt="{{ product.ProductName_En }} - {{ product.PartNumber }}" /> -->
        <!-- ng-click="AddToCompareList(DataDetails.IDDefineDetailProduct,'DefineItemImage' + DataDetails.IDX)"  -->
        <!-- <img src="assets/img/Compare.png" class="CompareButton" data-placement="left" title="Compare"
          alt="{{ product.ProductName_En }} - {{ product.PartNumber }}" /> -->
      </section>
      <img [src]="enviornment.baseUrl + product.IndexDescriptionPicUrl"
        class="ProductCarousel-Mobile-Thumbnail-ItemColor" />
    </section>

  </section>
</article>