<ng-template appCatalogPlaceholder></ng-template>
<app-header (catalogSituation)="onToggleCatalog($event)"></app-header>
<app-fixed-menu></app-fixed-menu>

<div class="MovableContainer">
  <div id="DarkBody" *ngIf="isDarkbodyShown" (click)="onCloseDarkbody()"></div>

  <div class="ViewContainer" [ngClass]="{Blur: isDarkbodyShown, NoBlur: !isDarkbodyShown}">
    <router-outlet></router-outlet>
  </div>

  <ng-template appContactMenuPlaceholder></ng-template>
  <ng-template appSupplierMenuPlaceholder></ng-template>
  <ng-template appGalleryModalPlaceholder></ng-template>
  <ng-template appStaticModalPlaceholder></ng-template>
</div>

<app-navbar [darkbodyRemoved]="darkbodyRemoved"></app-navbar>