:host {
  display: block; 
}

@media screen and (min-width: 992px) {
  :host {
    width: 90%;
    margin: 0 auto;
  } 
}

.MovableContainer {
  min-height: 100vh;
  box-shadow: #000 0 0 10px;
  background-color: #000;
  padding-top: 60px;
}

#DarkBody {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .MovableContainer {
    box-shadow: none;
    background-color: none;
  }
  #DarkBody {
    bottom: 50px;
  }
}

@media screen and (min-width: 992px) {
  .MovableContainer {
    box-shadow: #000 0 0 10px;
    background-color: #000;
  }
  /* .MainSection {
    width: unset !important;
    height: unset !important;
  } */
}