.articles-rightSide-item {
  margin-bottom: 10px;
}

.articles-rightSide-item a {
  margin-bottom: 5px;
}

.articles-rightSide-item img {
  width: 100%;
}

.articles-rightSide-item h4 {
  text-align: right;
  color: #fff;
  font-size: 13px !important;
  font-weight: bold;
  line-height: 24px;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .articles-rightSide-item {
    margin-bottom: 30px;
    left: 0;
  }
  .articles-rightSide-item h4 {
    color: #000;
    font-size: 12px !important;
    font-weight: bold;
    line-height: 20px;
    margin-top: 0px;
  }
}
