.FixedMenuProductCategory-UpperMenu-Supplier {
  width: 20%;
}

.SupplierIcon {
  padding: 8px 0 8px 0;
  direction: rtl;
  text-align: right;
  width: 100%;
}

.SupplierIcon img {
  width: 50%;
  margin: 5px 0 10px 0;
}

@media screen and (min-width: 768px) {
  .SupplierIcon {
    padding: 0;
    width: 20%;
  }
  .SupplierIcon img {
    margin: 15px 0;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .SupplierIcon {
    padding: 20px 0 0 0;
  }
  .SupplierIcon img {
    margin-top: 0;
  }
}