<article class="ArticlePage"
  *ngIf="article">

  <!-- header -->
  <section>
    <div>
      <div>
        <qr-code *ngIf="!isMobile"
          [value]="enviornment.baseUrl + 'article-category/article/' + articleId"
          [size]="isTablet ? 140 : 197"
          class="QRCode ArticlePage-QRCode"></qr-code>
        <span class="ArticlePage-QRCodeDesc ArticlePage-QRCodeDesc-Desktop">!در موبایل یا تبلت دنبال کنید</span>
        <span class="ArticlePage-QRCodeDesc ArticlePage-QRCodeDesc-Tablet">!در موبایل دنبال کنید</span>
      </div>
      <div>
        <img class="ArticleBigImage"
          [src]="enviornment.baseUrl + article.PicUrl"
          [alt]="article.Name_Fa" />
      </div>
    </div>
    <div class="Article-Header-Information">
      <div class="Article-Header-Title">
        <h1 class="ArticleTitle">{{ article.Name_Fa }}</h1>
      </div>
      <div class="IconContainar Article-Header-Likes">
        <a class="LikeIcon"
          (click)="onLikeArticle(article.IDContent)">
          <img id="HeartIcon"
            #heartImage
            src="assets/img/heart outline2.png"
            class="RealationalIcon"
            [alt]="article.Name_Fa">
          <div class="clearfix"></div>
          <b>{{ article.LikeCount }}</b><br /> Likes
        </a>
      </div>
    </div>
  </section>
  <hr class="ArticlePage-Icon-LineSeperator" />

  <!-- content -->
  <section class="ArticleDescription_Fa"
    [innerHtml]="article.Description_Fa"></section>
  <hr class="ArticlePage-Description-LineSeperator">

  <!-- dictionary -->
  <section class="Article-Dictionary-Wrapper"
    *ngIf="article.Dictionary">
    <h3 class="Article-Dictionary-Title">دانشنامه مقاله</h3>
    <hr class="ArticlePage-Dictionary-LineSeperator">
    <div class="Article-Dictionary-Outer"
      *ngFor="let dictionary of article.Dictionary; let i=index">
      <div class="Article-Dictionary-Inner">
        <section class="Article-Dictionary-Head">
          <p class="Article-Dictionary-Word"
            id="item{{i}}"
            (click)="toggleDescription[i] = !toggleDescription[i]">
            <span class="fa fa-plus Article-Dictionary-Icon"></span>
            {{ dictionary.Title }}
          </p>
          <p class="Article-Dictionary-Abstract">{{ dictionary.Abstract }}</p>
        </section>
        <section class="Article-Dictionary-Description"
          [innerHtml]="dictionary.Value"
          *ngIf="toggleDescription[i]"></section>
        <a [routerLink]="['dictionary', dictionary.IDX]"
          class="Article-Dictionary-Description-Link">
          <img src="assets/img/ArticleDictionaryArrow.png"
            alt="{{ dictionary.Title }}">
        </a>
        <hr class="Article-Dictionary-Seperator">
      </div>
    </div>
  </section>
  <hr class="ArticlePage-Icon-LineSeperator"
    *ngIf="article.Dictionary">

  <!-- carousel -->
  <section class="Article-Carousel"
    *ngIf="article.RelatedContent">
    <div>
      <h3 class="Article-Dictionary-Title">:مقالات مرتبط</h3>
    </div>
    <hr class="ArticlePage-Dictionary-LineSeperator">
    <!-- | filter: {IDX: '!' + routeParamsIDX} -> We have a filter to preventing current article in carousel -->
    <app-article-carousel class="Article-Carousel"
      [carouselData]="articleCarouselParams"></app-article-carousel>
  </section>
  <hr class="ArticlePage-Icon-LineSeperator"
    *ngIf="article.Dictionary">

</article>