<article class="TrainingGroupingDetail">
  <div class="TrainingGroupingDetail-Inner">

    <!-- header -->
    <section class="TrainingGroupingDetail-Header">
      <!-- <h1>{{::TrainingCoursesForCompany[0].Name_Fa}}</h1> -->
    </section>
    <hr>

    <!-- body -->
    <section class="row TrainingGroupingDetail-Body">
      <!-- href="/TrainingCoursesHeld/{{::TrainingCoursesForCompany[0].IDX}}" -->
      <!-- ng-repeat="TrainingCourseForCompany in TrainingCoursesForCompany[0].TrainingCourse" -->
      <a class="col-xs-12 col-sm-4 TrainingGroupingDetail-Item-Outer">
        <div class="TrainingGroupingDetail-Item">
          <!-- <img class="TrainingModule-CoursesGallery-ItemImage"
            ng-src="{{::ServerUrl + TrainingCourseForCompany.PicUrl | GetSmallImage}}"
            alt="{{::TrainingCourseForCompany.Name_Fa}}" /> -->
          <div class="TrainingGroupingDetail-Item-Desc">
            <!-- <p class="TrainingGroupingDetail-Item-LongDesc TrainingCooursesBatchDetail-Name">{{::TrainingCourseForCompany.Name_Fa}}</p> -->
          </div>
        </div>
      </a>
    </section>

  </div>
</article>