<article class="SearchModule-Wrapper">

  <!-- <div id="SearchBackWard1" class="SearchModule-Backward"> -->
    <!-- onclick="CloseSearchMenuBackward1()" -->
    <!-- ng-click="ClearTextSearch()" -->
    <!-- <img src="assets/img/backward.png" alt="جستجو - نوآوران شبکه فربین - Farbin Co" /> -->
  <!-- </div> -->
  <!-- onclick="CloseSearchMenuBackward2()" -->
  <!-- <div id="SearchBackWard2" class="SearchModule-Backward"> -->
    <!-- <img src="assets/img/backward.png" alt="جستجو - نوآوران شبکه فربین - Farbin Co" /> -->
  <!-- </div> -->

  <div class="SearchModule-Inner">

    <i class="fa fa-search SearchModule-Icon"></i>
    <!-- ng-model-options="{ debounce: 500 }"  -->
    <input id="txtIndexSearch" class="SearchModule-TextBox-TextSearch" type="text" [ngModel]="searchText"
      (ngModelChange)="onModelChanged($event)" (click)="openSearchMenu()" />
    <!-- ng-click="ClearTextSearch()" onclick="HideSearchListWithClearButton()" -->
    <span *ngIf="searchText" class="Color-Withe SearchModule-ClearTextSearch">×</span>
    <img class="SearchModule-ImgLoaderSearch" src="assets/img/loader1.gif"
      alt="جستجو - نوآوران شبکه فربین - Farbin Co" />

    <section class="SearchModule-Template" [ngClass]="{'SearchModule-Template-open': isSearchTemplateOpen}" [@searchTemplateState]="searchTemplateState">

      <div class="SearchModule-MobileSearchList" #mobileSearchList>
        <!-- onclick="ShowSearchResultTempalte('Product')" -->
        <section class="SearchModule-MobileSearchList-Item">
          <div class="SearchModule-MobileSearchList-Title">
            <h1>محصولات</h1>
            <div class="SearchModule-MobileSearchList-Number">
              <!-- <span>{{ SearchesLength }}</span> -->
            </div>
          </div>
          <span class="SearchModule-MobileSearchList-AngleLeft"><i class='fa fa-angle-left'></i></span>
        </section>
        <!-- onclick="ShowSearchResultTempalte('Article')" -->
        <section class="SearchModule-MobileSearchList-Item">
          <div class="SearchModule-MobileSearchList-Title">
            <h1>مقالات</h1>
            <div class="SearchModule-MobileSearchList-Number">
              <!-- <span>{{ SearchContentLength }}</span> -->
            </div>
          </div>
          <span class="SearchModule-MobileSearchList-AngleLeft"><i class='fa fa-angle-left'></i></span>
        </section>
        <!-- onclick="ShowSearchResultTempalte('Training')" -->
        <section class="SearchModule-MobileSearchList-Item">
          <div class="SearchModule-MobileSearchList-Title">
            <h1>آموزش</h1>
            <div class="SearchModule-MobileSearchList-Number">
              <!-- <span>{{SearchTrainingCoursesLength + SearchTrainingCourseUsersLength + SearchTrainingCourseBatchsLength + SearchIncidentsLength}}</span> -->
            </div>
          </div>
          <span class="SearchModule-MobileSearchList-AngleLeft"><i class='fa fa-angle-left'></i></span>
        </section>
      </div>

      <div class="row SearchModule-Template-Inner">

        <!-- ng-if="SearchContent.length || Searches.RuleDefine.length  || IsMobile" -->
        <div
          class="col-xs-12 col-sm-6 SearchModule-ProductTemplate SearchMobilePadding SearchTemplate-SearchItemsWrapper">

          <div class="SearchModule-Title">
            <p>محصولات</p>
          </div>

          <!-- autoheightdirective heightforthisclass=".SearchModule-Body" -->
          <section class="SearchModule-Body">
            <!-- ng-repeat="RuleDefine in Searches.RuleDefine" -->
            <div class="SearchModule-ProductTemplate-Inner">
              <!-- href="/DefineDetailProduct/{{RuleDefine.IDX}}" -->
              <!-- ng-click="HideMenuBox()" -->
              <a class="SearchModule-ProductTemplate-Item">
                <!-- <img ng-src="{{ServerUrl + RuleDefine.PicUrl | GetSmallImage}}" alt="{{RuleDefine.PartNumber}}" /> -->
                <div class="clearfix SearchModule-ProductTemplate-ItemDesc">
                  <!-- <h6 class="clearfix">{{ RuleDefine.PartNumber }}</h6> -->
                  <!-- <h6 class="clearfix Color-Withe SearchModule-ProductTemplate-IndexDesc">{{RuleDefine.IndexDescriptionText}}</h6> -->
                </div>
              </a>
              <hr />
            </div>

            <!-- ng-class="{true: 'SearchModule-ShowNotFoundMessage'}[Searches.RuleDefine.length == 0]" -->
            <p class="SearchModule-NotFoundMessage">موردی یافت نشد!</p>
          </section>

        </div>

        <!-- ng-if="SearchContent.length || Searches.RuleDefine.length || IsMobile" -->
        <section
          class="col-xs-12 col-sm-6 SearchModule-ArticleTemplate SearchMobilePadding SearchTemplate-SearchItemsWrapper">
          <div class="SearchModule-Title">
            <p>مقالات</p>
          </div>
          <!-- autoheightdirective heightforthisclass=".SearchModule-Body" -->
          <div class="SearchModule-Body">
            <!-- ng-repeat="Article in SearchContent" -->
            <div class="TopArticleContent SearchModule-ArticleTemplate-Inner">
              <section class="imgTopArticleContent SearchModule-ArticleTemplate-Image">
                <!-- ng-click="HideMenuBox()" -->
                <!-- href="//Article/{{Article.IDX}}" -->
                <a href="#">
                  <!-- <img ng-src="{{ServerUrl + Article.PicUrl | GetSmallImage}}" alt="{{Article.Name_Fa}}" /> -->
                </a>
              </section>
              <section class="TitleTopArticleContent SearchModule-ArticleTemplate-Title">
                <!-- ng-click="HideMenuBox()" -->
                <!-- href="//Article/{{Article.IDX}}" -->
                <a href="#" class="clearfix">
                  <!-- <span dir="rtl">{{Article.Name_Fa}}</span> -->
                </a>
                <!-- <p class="clearfix SearchModule-ArticleTemplate-AbstractArticle AbstractArticle">{{Article.Abstract_Fa}}</p> -->
              </section>
            </div>
            <!-- ng-class="{true: 'SearchModule-ShowNotFoundMessage'}[SearchContent.length == 0]" -->
            <p class="SearchModule-NotFoundMessage">موردی یافت نشد!</p>
          </div>
        </section>

        <!-- ng-if="SearchTrainingCourses.length || SearchTrainingCourseUsers.length || SearchTrainingCourseBatchs.length || SearchIncidents.length || IsMobile" -->
        <section class="col-xs-12 SearchModule-TrainingTemplate-Wrapper SearchTemplate-SearchItemsWrapper">
          <div class="SearchModule-Title SearchMobilePadding">
            <p>آموزش</p>
          </div>
          <!-- autoheightdirective heightforthisclass=".SearchModule-Body" -->
          <div class="SearchModule-Body SearchModule-Training-Body">
            <div class="SearchModule-Template-Inner">
              <div class="SearchModule-TrainingTemplate-Sections">
                <div class="SearchModule-TrainingCourseSection">
                  <section class="SearchModule-TrainingTemplate-SliderBody">
                    <!-- <div id="xxx{{$index}}" class="SearchModule-TrainingTemplate-OwlCarousel owl-carousel" data-owl-carousel data-options="{
                        stagePadding: 20,
                        items: 3,
                        responsive: { 1024: { items: 5 } }
                      }">
                      <a href="/TrainingCoursesHeld/{{TrainingCourses.IDX}}" class="item" data-owl-carousel-item ng-repeat="TrainingCourses in SearchTrainingCourses" ng-click="HideMenuBox()">
                        <img style="height: auto;" ng-src="{{ServerUrl + TrainingCourses.PicUrl | GetSmallImage}}" />
                        <p style="direction: rtl;">{{TrainingCourses.Name_Fa}}</p>
                      </a>
                    </div> -->
                    <!-- ng-class="{'SearchModule-TrainingTemplate-MobileSliderHorizontalScroll': SearchTrainingCourseUsers.length || SearchTrainingCourseBatchs.length || SearchIncidents.length}" -->
                    <div class="SearchModule-TrainingTemplate-MobileSlider">
                      <!-- ng-class="{'SearchHorizontalTrainingItems': SearchTrainingCourseUsers.length || SearchTrainingCourseBatchs.length || SearchIncidents.length}" -->
                      <ul>
                        <!-- ng-class="{'SearchModule-TrainingTemplate-MobileSlider-li': SearchTrainingCourseUsers.length || SearchTrainingCourseBatchs.length || SearchIncidents.length}" -->
                        <!-- ng-repeat="TrainingCourses in SearchTrainingCourses" -->
                        <li>
                          <!-- href="/TrainingCoursesHeld/{{TrainingCourses.IDX}}" -->
                          <!-- ng-click="HideMenuBox()" -->
                          <a href="#">
                            <!-- <img ng-src="{{ServerUrl + TrainingCourses.PicUrl | GetSmallImage}}" /> -->
                            <!-- <p>{{TrainingCourses.Name_Fa}}</p> -->
                          </a>
                        </li>
                      </ul>
                    </div>
                  </section>
                  <!-- ng-repeat="SearchTrainingCourseUser in SearchTrainingCourseUsers" -->
                  <section class="SearchModule-TrainingCourseUserSection">
                    <div class="SearchModule-TrainingTemplate-SliderHeader">
                      <!-- <h1>{{SearchTrainingCourseUser.FullName_Fa}}</h1> -->
                      <hr style="border-color: #666;" />
                    </div>
                    <div class="SearchModule-TrainingTemplate-SliderBody">
                      <!-- <section id="yyy{{$index}}" class="SearchModule-TrainingTemplate-OwlCarousel owl-carousel" data-owl-carousel data-options="{
                          stagePadding: 20,
                          items: 3,
                          responsive: { 1024: { items: 5 } }
                        }">
                        <a href="/TrainingCoursesHeld/{{SearchUserCertificate.IDX}}" class="item" data-owl-carousel-item ng-repeat="SearchUserCertificate in SearchTrainingCourseUser.Certification" ng-click="HideMenuBox()">
                          <img style="height: auto;" ng-src="{{ServerUrl + SearchUserCertificate.PicUrl | GetSmallImage}}" />
                          <p style="direction: rtl;">
                            {{SearchUserCertificate.TrainingCourseCategoryName_Fa}}
                          </p>
                        </a>
                      </section> -->

                      <!-- ng-class="{'SearchModule-TrainingTemplate-MobileSliderHorizontalScroll': SearchTrainingCourses.length || SearchTrainingCourseBatchs.length || SearchIncidents.length}" -->
                      <div class="SearchModule-TrainingTemplate-MobileSlider">
                        <!-- ng-class="{'SearchHorizontalTrainingItems': SearchTrainingCourses.length || SearchTrainingCourseBatchs.length || SearchIncidents.length}" -->
                        <ul>
                          <!-- ng-repeat="SearchUserCertificate in SearchTrainingCourseUser.Certification" ng-class="{'SearchModule-TrainingTemplate-MobileSlider-li': SearchTrainingCourses.length || SearchTrainingCourseBatchs.length || SearchIncidents.length}" -->
                          <li>
                            <!-- href="/TrainingCoursesHeld/{{SearchUserCertificate.IDX}}" -->
                            <!-- ng-click="HideMenuBox()" -->
                            <a href="#">
                              <!-- <img ng-src="{{ServerUrl + SearchUserCertificate.PicUrl | GetSmallImage}}" /> -->
                              <!-- <p>{{SearchUserCertificate.TrainingCourseCategoryName_Fa}}</p> -->
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </section>
                </div>
                <!-- ng-repeat="SearchTrainingCourseBatch in SearchTrainingCourseBatchs" -->
                <section class="SearchModule-TrainingCourseBatchSection">

                  <div class="SearchModule-TrainingTemplate-SliderHeader">
                    <!-- <h1>{{SearchTrainingCourseBatch.Name_Fa}}</h1> -->
                    <hr style="border-color: #666;" />
                  </div>

                  <div class="SearchModule-TrainingTemplate-SliderBody">
                    <!-- <div id="zzz{{$index}}" class="SearchModule-TrainingTemplate-OwlCarousel owl-carousel"
                      data-owl-carousel data-options="{
                          stagePadding: 20,
                          items: 3,
                          responsive: { 1024: { items: 5 } }
                        }">
                      <a href="/TrainingCoursesHeld/{{TrainingCourseForBatch.IDX}}" class="item" data-owl-carousel-item
                        ng-repeat="TrainingCourseForBatch in SearchTrainingCourseBatch.TrainingCourse"
                        ng-click="HideMenuBox()">
                        <img style="height: auto;"
                          ng-src="{{ServerUrl + TrainingCourseForBatch.PicUrl | GetSmallImage}}" />
                        <p style="direction: rtl;">{{TrainingCourseForBatch.Name_Fa}}</p>
                      </a>
                    </div> -->
                  </div>

                  <!-- ng-class="{'SearchModule-TrainingTemplate-MobileSliderHorizontalScroll':SearchTrainingCourseUsers.length || SearchTrainingCourses.length || SearchIncidents.length }" -->
                  <div class="SearchModule-TrainingTemplate-MobileSlider">
                    <!-- ng-class="{'SearchHorizontalTrainingItems': SearchTrainingCourseUsers.length ||SearchTrainingCourses.length || SearchIncidents.length}" -->
                    <ul>
                      <!-- ng-repeat="TrainingCourseForBatch in SearchTrainingCourseBatch.TrainingCourse" -->
                      <!-- ng-class="{'SearchModule-TrainingTemplate-MobileSlider-li': SearchTrainingCourseUsers.length || SearchTrainingCourses.length || SearchIncidents.length}" -->
                      <li>
                        <!-- href="/TrainingCoursesHeld/{{TrainingCourseForBatch.IDX}}" -->
                        <!--  -->
                        <a href="#">
                          <!-- <img ng-src="{{ServerUrl + TrainingCourseForBatch.PicUrl | GetSmallImage}}" class="" /> -->
                          <!-- <p>{{TrainingCourseForBatch.Name_Fa}}</p> -->
                        </a>
                      </li>
                    </ul>
                  </div>
                </section>

                <section class="">

                  <div class="SearchModule-TrainingTemplate-SliderHeader">
                    <!-- <h1>{{SearchIncidents.Name_Fa}}</h1> -->
                    <hr style="border-color: #666;" />
                  </div>

                  <div class="SearchModule-TrainingTemplate-SliderBody">

                    <!-- <section id="aaa{{$index}}" class="SearchModule-TrainingTemplate-OwlCarousel owl-carousel"
                      data-owl-carousel data-options="{
                          stagePadding: 20,
                          items: 3,
                          responsive: { 1024: { items: 5 } }
                        }">
                      <a href="/Incident/{{SearchIncident.IDX}}" class="item" data-owl-carousel-item
                        ng-repeat="SearchIncident in SearchIncidents" ng-click="HideMenuBox()">
                        <img style="height: auto;" ng-src="{{ServerUrl + SearchIncident.PicUrl | GetSmallImage}}"
                          alt="{{SearchIncident.Name_Fa}}" />
                        <p style="direction: rtl;">
                          {{SearchIncident.Name_Fa}}
                        </p>
                      </a>
                    </section> -->

                    <!-- ng-class="{'SearchModule-TrainingTemplate-MobileSliderHorizontalScroll': SearchTrainingCourses.length || SearchTrainingCourseBatchs.length || SearchTrainingCourseUsers.length}" -->
                    <section class="SearchModule-TrainingTemplate-MobileSlider">
                      <!-- ng-class="{'SearchHorizontalTrainingItems': SearchTrainingCourses.length || SearchTrainingCourseBatchs.length || SearchTrainingCourseUsers.length}" -->
                      <ul>
                        <!-- ng-repeat="SearchIncident in SearchIncidents" -->
                        <!-- ng-class="{'SearchModule-TrainingTemplate-MobileSlider-li': SearchTrainingCourses.length || SearchTrainingCourseBatchs.length || SearchTrainingCourseUsers.length}" -->
                        <li>
                          <!-- ng-click="HideMenuBox()" -->
                          <!-- ref="/Incident/{{SearchIncident.IDX}}" -->
                          <a href="#">
                            <!-- <img ng-src="{{ServerUrl + SearchIncident.PicUrl | GetSmallImage}}" /> -->
                            <!-- <p>{{SearchIncident.Name_Fa}}</p> -->
                          </a>
                        </li>
                      </ul>
                    </section>

                  </div>

                </section>

                <!-- ng-class="{true: 'SearchModule-ShowNotFoundMessage'}[SearchTrainingCourses.length == 0 && SearchTrainingCourseUsers.length == 0 && SearchTrainingCourseBatchs.length == 0 && SearchIncidentsLength.length]" -->
                <p class="SearchModule-NotFoundMessage SearchMobilePadding">موردی یافت نشد!</p>
              </div>
            </div>
          </div>
        </section>
      </div>

    </section>
  </div>
</article>