<article class="SearchModule-Wrapper">
  <div class="SearchModule-Inner">
    <div class="SearchModule-Template"
      [ngClass]="{'SearchModule-Template-open': !isSearchMenuOpen, 'SearchModule-Template-close': (!isMobile && isSearchMenuOpen)}"
      [@searchTemplateState]="searchTemplateState">
      <div *ngIf="searchDefineDetail">

        <!-- mobile search list -->
        <div class="SearchModule-MobileSearchList"
          *ngIf="!isSearchContentShow && isMobile">

          <!-- products link -->
          <section class="SearchModule-MobileSearchList-Item"
            (click)="onShowCurrentTemp('product')">
            <div class="SearchModule-MobileSearchList-Title">
              <h1>محصولات</h1>
              <div class="SearchModule-MobileSearchList-Number">
                <span>{{ searchDefineDetail.RuleDefine.length }}</span>
              </div>
            </div>
            <span class="SearchModule-MobileSearchList-AngleLeft"><i class='fa fa-angle-left'></i></span>
          </section>

          <!-- articles link -->
          <section class="SearchModule-MobileSearchList-Item"
            (click)="onShowCurrentTemp('article')">
            <div class="SearchModule-MobileSearchList-Title">
              <h1>مقالات</h1>
              <div class="SearchModule-MobileSearchList-Number">
                <span>{{ searchContent.length }}</span>
              </div>
            </div>
            <span class="SearchModule-MobileSearchList-AngleLeft"><i class='fa fa-angle-left'></i></span>
          </section>

          <!-- training link -->
          <section class="SearchModule-MobileSearchList-Item"
            (click)="onShowCurrentTemp('training')">
            <div class="SearchModule-MobileSearchList-Title">
              <h1>آموزش</h1>
              <div class="SearchModule-MobileSearchList-Number">
                <span>{{ searchTrainingCourses.length + searchTrainingCourseUsers.length + searchTrainingCourseBatchs.length + searchIncidents.length }}</span>
              </div>
            </div>
            <span class="SearchModule-MobileSearchList-AngleLeft"><i class='fa fa-angle-left'></i></span>
          </section>

        </div>

        <!-- search contnet -->
        <div class="row SearchModule-Template-Inner"
          *ngIf="(isSearchContentShow && isMobile) || !isMobile">

          <!-- product content -->
          <section *ngIf="(isMobile && (tempName === 'product')) || !isMobile"
            class="col-xs-12 col-sm-6 SearchModule-ProductTemplate SearchMobilePadding SearchTemplate-SearchItemsWrapper">
            <div class="SearchModule-Title">
              <p>محصولات</p>
            </div>
            <div class="SearchModule-Body">
              <section class="SearchModule-ProductTemplate-Inner"
                *ngFor="let ruleDefine of searchDefineDetail.RuleDefine">
                <a [routerLink]="['/product/define-detail-product', ruleDefine.IDX]"
                  (click)="onCloseSearchMenu()"
                  class="SearchModule-ProductTemplate-Item">
                  <img [src]="enviornment.baseUrl + ruleDefine.PicUrl | getSmallImage"
                    [alt]="ruleDefine.PartNumber">
                  <div class="clearfix SearchModule-ProductTemplate-ItemDesc">
                    <h6 class="clearfix">{{ ruleDefine.PartNumber }}</h6>
                    <h6 class="clearfix Color-Withe SearchModule-ProductTemplate-IndexDesc">
                      {{ ruleDefine.IndexDescriptionText }}</h6>
                  </div>
                </a>
                <hr />
              </section>
              <p class="SearchModule-NotFoundMessage"
                [ngClass]="{'SearchModule-ShowNotFoundMessage': !searchDefineDetail.RuleDefine.length}">موردی یافت نشد!
              </p>
            </div>
          </section>

          <!-- article content -->
          <section *ngIf="(isMobile && (tempName === 'article')) || !isMobile"
            class="col-xs-12 col-sm-6 SearchModule-ArticleTemplate SearchMobilePadding SearchTemplate-SearchItemsWrapper">
            <div class="SearchModule-Title">
              <p>مقالات</p>
            </div>
            <div class="SearchModule-Body">
              <section class="TopArticleContent SearchModule-ArticleTemplate-Inner"
                *ngFor="let article of searchContent">
                <div class="imgTopArticleContent SearchModule-ArticleTemplate-Image">
                  <a [routerLink]="['article-category/article', article.IDX]"
                    (click)="onCloseSearchMenu()">
                    <img [src]="enviornment.baseUrl + article.PicUrl | getSmallImage"
                      [alt]="article.Name_Fa" />
                  </a>
                </div>
                <div class="TitleTopArticleContent SearchModule-ArticleTemplate-Title">
                  <a [routerLink]="['article-category/article', article.IDX]"
                    (click)="onCloseSearchMenu()"
                    class="clearfix">
                    <span dir="rtl">{{ article.Name_Fa }}</span>
                  </a>
                  <p class="clearfix SearchModule-ArticleTemplate-AbstractArticle AbstractArticle">
                    {{ article.Abstract_Fa }}</p>
                </div>
              </section>
              <p class="SearchModule-NotFoundMessage"
                [ngClass]="{'SearchModule-ShowNotFoundMessage': !searchContent.length}">موردی یافت نشد!</p>
            </div>
          </section>

          <!-- training content -->
          <section *ngIf="(isMobile && (tempName === 'training')) || !isMobile"
            class="col-xs-12 SearchModule-TrainingTemplate-Wrapper SearchTemplate-SearchItemsWrapper">
            <div class="SearchModule-Title SearchMobilePadding">
              <p>آموزش</p>
            </div>
            <div class="SearchModule-Body SearchModule-Training-Body">
              <div class="SearchModule-TrainingTemplate-Sections">

                <!-- training courses template -->
                <section class="SearchModule-TrainingCourseSection">

                  <!-- courses template -->
                  <section class="SearchModule-TrainingTemplate-SliderBody">
                    <!-- <div id="xxx{{$index}}" class="SearchModule-TrainingTemplate-OwlCarousel owl-carousel" data-owl-carousel data-options="{
                          stagePadding: 20,
                          items: 3,
                          responsive: { 1024: { items: 5 } }
                        }">
                        <a href="/TrainingCoursesHeld/{{TrainingCourses.IDX}}" class="item" data-owl-carousel-item ng-repeat="TrainingCourses in SearchTrainingCourses" ng-click="HideMenuBox()">
                          <img style="height: auto;" ng-src="{{ServerUrl + TrainingCourses.PicUrl | GetSmallImage}}" />
                          <p style="direction: rtl;">{{TrainingCourses.Name_Fa}}</p>
                        </a>
                      </div> -->
                    <div class="SearchModule-TrainingTemplate-MobileSlider"
                      [ngClass]="{'SearchModule-TrainingTemplate-MobileSliderHorizontalScroll': searchTrainingCourseUsers.length || searchTrainingCourseBatchs.length || searchIncidents.length}">
                      <ul
                        [ngClass]="{'SearchHorizontalTrainingItems': searchTrainingCourseUsers.length || searchTrainingCourseBatchs.length || searchIncidents.length}">
                        <li
                          [ngClass]="{'SearchModule-TrainingTemplate-MobileSlider-li': searchTrainingCourseUsers.length || searchTrainingCourseBatchs.length || searchIncidents.length}"
                          *ngFor="let trainingCourses of searchTrainingCourses">
                          <!-- ng-click="HideMenuBox()" -->
                          <a [routerLink]="['/training/training-course-held', trainingCourses.IDX]">
                            <img [src]="enviornment.baseUrl + trainingCourses.PicUrl | getSmallImage">
                            <p>{{ trainingCourses.Name_Fa }}</p>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </section>

                  <!-- certification template -->
                  <section class="SearchModule-TrainingCourseUserSection"
                    *ngFor="let user of searchTrainingCourseUsers">
                    <div class="SearchModule-TrainingTemplate-SliderHeader">
                      <h1>{{ user.FullName_Fa }}</h1>
                      <hr style="border-color: #666;" />
                    </div>
                    <div class="SearchModule-TrainingTemplate-SliderBody">
                      <!-- <section id="yyy{{$index}}" class="SearchModule-TrainingTemplate-OwlCarousel owl-carousel" data-owl-carousel data-options="{
                            stagePadding: 20,
                            items: 3,
                            responsive: { 1024: { items: 5 } }
                          }">
                          <a href="/TrainingCoursesHeld/{{SearchUserCertificate.IDX}}" class="item" data-owl-carousel-item ng-repeat="SearchUserCertificate in SearchTrainingCourseUser.Certification" ng-click="HideMenuBox()">
                            <img style="height: auto;" ng-src="{{ServerUrl + SearchUserCertificate.PicUrl | GetSmallImage}}" />
                            <p style="direction: rtl;">
                              {{SearchUserCertificate.TrainingCourseCategoryName_Fa}}
                            </p>
                          </a>
                        </section> -->
                      <div class="SearchModule-TrainingTemplate-MobileSlider"
                        [ngClass]="{'SearchModule-TrainingTemplate-MobileSliderHorizontalScroll': searchTrainingCourses.length || searchTrainingCourseBatchs.length || searchIncidents.length}">
                        <ul
                          [ngClass]="{'SearchHorizontalTrainingItems': searchTrainingCourses.length || searchTrainingCourseBatchs.length || searchIncidents.length}">

                          <li *ngFor="let certificate of user.Certification"
                            (click)="onCloseSearchMenu()"
                            [ngClass]="{'SearchModule-TrainingTemplate-MobileSlider-li': searchTrainingCourses.length || searchTrainingCourseBatchs.length || searchIncidents.length}">
                            <a [routerLink]="['/training/training-course-held', certificate.IDX]">
                              <img [src]="enviornment.baseUrl + certificate.PicUrl | getSmallImage" />
                              <p>{{ certificate.TrainingCourseCategoryName_Fa }}</p>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </section>

                </section>

                <!-- batches template -->
                <section class="SearchModule-TrainingCourseBatchSection"
                  *ngFor="let batch of searchTrainingCourseBatchs">
                  <div class="SearchModule-TrainingTemplate-SliderHeader">
                    <h1>{{ batch.Name_Fa }}</h1>
                    <hr style="border-color: #666;" />
                  </div>
                  <div class="SearchModule-TrainingTemplate-SliderBody">
                    <!-- <div id="zzz{{$index}}" class="SearchModule-TrainingTemplate-OwlCarousel owl-carousel"
                        data-owl-carousel data-options="{
                            stagePadding: 20,
                            items: 3,
                            responsive: { 1024: { items: 5 } }
                          }">
                        <a href="/TrainingCoursesHeld/{{TrainingCourseForBatch.IDX}}" class="item" data-owl-carousel-item
                          ng-repeat="TrainingCourseForBatch in SearchTrainingCourseBatch.TrainingCourse"
                          ng-click="HideMenuBox()">
                          <img style="height: auto;"
                            ng-src="{{ServerUrl + TrainingCourseForBatch.PicUrl | GetSmallImage}}" />
                          <p style="direction: rtl;">{{TrainingCourseForBatch.Name_Fa}}</p>
                        </a>
                      </div> -->
                  </div>
                  <div class="SearchModule-TrainingTemplate-MobileSlider"
                    [ngClass]="{'SearchModule-TrainingTemplate-MobileSliderHorizontalScroll': searchTrainingCourseUsers.length || searchTrainingCourses.length || searchIncidents.length}">
                    <ul
                      [ngClass]="{'SearchHorizontalTrainingItems': searchTrainingCourseUsers.length || searchTrainingCourses.length || searchIncidents.length}">
                      <li *ngFor="let course of batch.TrainingCourse"
                        [ngClass]="{'SearchModule-TrainingTemplate-MobileSlider-li': searchTrainingCourseUsers.length || searchTrainingCourses.length || searchIncidents.length}">
                        <a [routerLink]="['/training/training-course-held', course.IDX]">
                          <img [src]="enviornment.baseUrl + course.PicUrl | getSmallImage">
                          <p>{{ course.Name_Fa }}</p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </section>

                <!-- incident template -->
                <section *ngIf="searchIncidents">
                  <div class="SearchModule-TrainingTemplate-SliderHeader">
                    <hr style="border-color: #666;" />
                  </div>
                  <div class="SearchModule-TrainingTemplate-SliderBody">
                    <!-- ng-click="HideMenuBox()" -->
                    <!-- <owl-carousel-o [options]="{
                      stagePadding: 20,
                      items: 3,
                      dots: false,
                      nav: false,
                      autoWidth: true,
                      responsive: { 1024: { items: 5 } }
                    }"
                      class="SearchModule-TrainingTemplate-OwlCarousel"
                      id="carousel{{ dynamicId }}">
                      <ng-container *ngFor="let incident of searchIncidents">
                        <ng-template class="item"
                          carouselSlide
                          [width]="carouselItemWidth">
                          
                          <a [routerLink]="['/about-us/news-and-events/incident', incident.IDX]"
                            class="item">
                            <img style="height: auto;"
                              src="{{ enviornment.baseUrl + incident.PicUrl | getSmallImage }}"
                              alt="{{ incident.Name_Fa }}">
                            <p style="direction: rtl;">{{ searchIncident.Name_Fa }}</p>
                          </a>
                        </ng-template>
                      </ng-container>
                    </owl-carousel-o> -->
                    <section class="SearchModule-TrainingTemplate-MobileSlider"
                      [ngClass]="{'SearchModule-TrainingTemplate-MobileSliderHorizontalScroll':  searchTrainingCourses.length || searchTrainingCourseBatchs.length || searchTrainingCourseUsers.length}">
                      <ul
                        [ngClass]="{'SearchHorizontalTrainingItems': searchTrainingCourses.length || searchTrainingCourseBatchs.length || searchTrainingCourseUsers.length}">
                        <li
                          [ngClass]="{'SearchModule-TrainingTemplate-MobileSlider-li': searchTrainingCourses.length || searchTrainingCourseBatchs.length || searchTrainingCourseUsers.length}"
                          *ngFor="let incident of searchIncidents">
                          <a [routerLink]="['/about-us/news-and-events/incident', incident.IDX]"
                            (click)="onCloseSearchMenu()">
                            <img [src]="enviornment.baseUrl + incident.PicUrl | getSmallImage" />
                            <p>{{ incident.Name_Fa }}</p>
                          </a>
                        </li>
                      </ul>
                    </section>
                  </div>
                </section>

                <p class="SearchModule-NotFoundMessage SearchMobilePadding"
                  [ngClass]="{'SearchModule-ShowNotFoundMessage': !searchTrainingCourses.length && !searchTrainingCourseUsers.length && !searchTrainingCourseBatchs.length && !searchIncidents.length}">
                  موردی یافت نشد!</p>
              </div>
            </div>
          </section>

        </div>

      </div>
    </div>
  </div>
</article>