<article class="DefineDetailController"
  *ngIf="defineDetailProduct">

  <img class="DefineDetailProductPage-BrandLogoImage"
    [src]="enviornment.baseUrl + defineDetailProduct.LegalMenuPicUrl"
    [alt]="defineDetailProduct.ShortTechnicalDescription" />
  <div class="clearfix"></div>

  <section class="DefineDetailProductPage-ProductDetailWrapper">

    <div class="ProductDetailHeader">

      <!-- Detail box -->
      <section class="DetailBox">
        <h1 class="DefineDetailPartNumber">{{ defineDetailProduct.PartNumber }}</h1>
        <div class="clearfix"></div>
        <div class="ShortTechnicalDescription">
          <h4 class="ShortTechnicalDescription">{{ defineDetailProduct.ShortTechnicalDescription }}</h4>
          <div class="clearfix"></div>
        </div>
        <div class="ShortTechnicalDescription_Fa">
          <h4 class="ShortTechnicalDescription_Fa">
            {{ defineDetailProduct.ShortTechnicalDescription_Fa != '' && defineDetailProduct.ShortTechnicalDescription_Fa != undefined && defineDetailProduct.ShortTechnicalDescription_Fa != 0 ? defineDetailProduct.ShortTechnicalDescription_Fa : defineDetailProduct.ShortTechnicalDescription  }}
          </h4>
          <div class="clearfix"></div>
        </div>
      </section>

      <!-- Main image and carousel -->
      <section class="DefineImage">
        <!-- ng-click="OpenDynamicModal(DefineDetailProducts, OtherImages)" -->
        <section class="MasterImageBig">
          <img id="MasterImage"
            class="MasterImage"
            [src]="enviornment.baseUrl + defineDetailProduct.PicUrl"
            [alt]="defineDetailProduct.PartNumber" />
        </section>
        <div class="clearfix"></div>
        <!-- <section class="Div100 Float-Left">
          <div gallerycarousel
            datasource="OtherImages"
            staticurl="'/images/docx.png'"
            dynamicfieldimage="'Url'"
            desktopcarouseloptions="{
              stagePadding: 20,
              items: 3,
              responsive: { 1024: { items: 4 } } 
            }"
            mobilecarouseloptions="{
              itemsMobile: [500, 9],
              itemsTablet: [768, 8],
              itemsDesktop: [1024, 8]
            }">
          </div>
        </section> -->
      </section>

      <!-- All descriptions -->
      <section class="AllDescriptions">

        <!-- Right side -->
        <section class="DefineButtons">
          <qr-code *ngIf="!isMobile"
            [value]="enviornment.baseUrl + 'product/define-detail-product/' + productId"
            [size]="isTablet ? 140 : 197"
            class="QRCode DefineDetails-QRCode"></qr-code>
          <span class="DefineDetails-QRCode-Span DefineDetails-QRCode-Span-Desktop">!در موبایل یا تبلت دنبال کنید</span>
          <span class="DefineDetails-QRCode-Span DefineDetails-QRCode-Span-Tablet">!در موبایل دنبال کنید</span>
          <div class="btnDefine">
            <!-- ng-click="AddToMaterialList(DefineDetailProducts.IDDefineDetailProduct)" -->
            <img src="assets/img/AddToListWhite.png"
              [alt]="defineDetailProduct.ShortTechnicalDescription" />
            <div class="clearfix"></div>
            Add to material list
          </div>
          <div class="btnDefine">
            <!-- ng-click="AddToCompareList(DefineDetailProducts.IDDefineDetailProduct,'MasterImage')" -->
            <img src="assets/img/Compare.png"
              [alt]="defineDetailProduct.ShortTechnicalDescription" />
            <div class="clearfix"></div>
            Add to compare list
          </div>
        </section>

        <!-- Text description -->
        <section class="TextDescription">
          <div class="TextDescription-Inner">
            <div class="clearfix"></div>
            <div class="LangSituationContainer">
              <!-- ng-click="ChangeDescriptionLang()" -->
              <!-- <input id="chkLangSituation"
                type="checkbox"
                data-on="برگردان فارسی"
                data-off="Shift to EN"
                ng-show="defineDetailProduct.ShortTechnicalDescription_Fa 
                || defineDetailProduct.TechnicalDescription_Fa 
                || defineDetailProduct.DescriptionInSite_Fa"> -->
            </div>
            <h4 class="Description">Description</h4>
            <h5 class="TextDescription-TitleH5 ShortDescription"
              [innerHtml]="defineDetailProduct.TechnicalDescription"></h5>
            <!-- ng-show="SiteSetting.FaLanguage" -->
            <h5 class="TextDescription-TitleH5 ShortDescription_Fa"
              [innerHtml]="defineDetailProduct.TechnicalDescription_Fa != '' && defineDetailProduct.TechnicalDescription_Fa != undefined ? defineDetailProduct.TechnicalDescription_Fa : defineDetailProduct.TechnicalDescription">
            </h5>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <h4 class="Summary">Summary</h4>
          <div class="clearfix"></div>
          <div class="DefineDescriptionEN"
            [innerHtml]="defineDetailProduct.DescriptionInSite_En"></div>
          <div class="clearfix"></div>
          <div class="DefineDescriptionFa"
            [innerHtml]="defineDetailProduct.DescriptionInSite_Fa"></div>
        </section>

      </section>

    </div>
    <div class="clearfix"></div>

    <div class="DefineDetailProduct-TabContainer TabContainer">

      <!-- common questions -->
      <section class="CommonQuestionsBox">
        <h4 class="CommonQuestions Color-Yellow">سوالات متداول</h4>
        <div class="clearfix"></div>
        <ul id="QuestionAndAnswers"
          class="QuestionAndAnswers-list-group list-group">
          <li class="QuestionAndAnswers-list-group-item list-group-item"
            *ngFor="let qAnda of questionsAndAnswers">
            <!-- ng-click="ToggleIcon($event)" -->
            <a class="QuestionAnswerItem"
              id="Q{{ qAnda.IDQuestionAndAnswer }}"
              data-toggle="collapse"
              data-parent="#QuestionAndAnswers"
              href="#P{{ qAnda.IDQuestionAndAnswer }}">
              <div id="Question"
                class="QuestionAndAnswers-Question">
                <span class="ico Color-Withe Plus show Float-Left">+</span>
                <div class="QuestionAndAnswers-Question-QA"
                  [innerHtml]="qAnda.Question">
                </div>
              </div>
            </a>
            <div class="clearfix"></div>
            <div id="P{{qAnda.IDQuestionAndAnswer}}"
              class="QuestionAndAnswers-panel-collapse panel-collapse collapse">
              <div class="QuestionAndAnswers-panel-collapse-Answer"
                [innerHtml]="qAnda.Answer"></div>
            </div>
          </li>
        </ul>
      </section>

      <!-- tabs -->
      <section class="Tab-Details">
        <div class="clearfix"></div>

        <!-- head -->
        <div class="TabDetails-TabBox-Header panel-heading tab-bg-dark-navy-blue">
          <ul class="nav nav-tabs">
            <li class="TabDetails-TabBox-Item-FirstItem active"
              *ngIf="rulePropertiesLength">
              <a data-toggle="tab"
                data-target="#Peroperies"
                class="SpecificationsTab CursorPointer">
                <img src="assets/img/TabIcon.png"
                  alt="مشخصات فنی و ظاهری محصولات فربین">
                Specifications
                <div class="clearfix"></div>
                <div class="SubTitleTab">مشخصات فنی و ظاهری</div>
              </a>
            </li>
            <li class="TabDetails-TabBox-Item"
              *ngIf="listFoldersFilesLength">
              <a data-toggle="tab"
                data-target="#AttachFiles"
                class="MiddleTab CursorPointer">
                <img src="assets/img/TabIcon.png"
                  alt="فایل های ضمیمه محصولات فربین">
                Attach Files
                <div class="clearfix"></div>
                <div class="SubTitleTab">فایلهای ضمیمه</div>
              </a>
            </li>
            <li class="TabDetails-TabBox-Item"
              *ngIf="accessoryProductsLength">
              <a data-toggle="tab"
                data-target="#Accessories"
                class="MiddleTab CursorPointer">
                <img src="assets/img/TabIcon.png" />
                Accessories
                <div class="clearfix"></div>
                <div class="SubTitleTab">لوازم جانبی</div>
              </a>
            </li>
            <li class="TabDetails-TabBox-Item"
              *ngIf="relatedDefineDetailProductsLength">
              <a data-toggle="tab"
                data-target="#RelatedProduct"
                class="RelatedProductTab CursorPointer">
                <img src="assets/img/TabIcon.png" />
                Related Products
                <div class="clearfix"></div>
                <div class="SubTitleTab">محصولات مرتبط</div>
              </a>
            </li>
          </ul>
        </div>

        <!-- body -->
        <div class="panel-body TabDetails-TabBox-Body">
          <div class="tab-content">

            <!-- tabBox body attach-files -->
            <section id="AttachFiles"
              class="tab-pane">
              <br>
              <div>
                <div *ngFor="let foldersFile of listFoldersFiles">
                  <p class="TableTitleInDefineDetail">{{ foldersFile.Name_En }}</p>
                  <table class="table table-bordered table-striped table-condensed table-hover">
                    <thead>
                      <tr>
                        <th class="TableTitleInDefineDetail-Thead-FirstCell">Select</th>
                        <th class="TableTitleInDefineDetail-Thead-SecondCell">Type</th>
                        <th class="TableTitleInDefineDetail-Thead-ThirdCell">Title</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let file of foldersFile.AttachFiles">
                        <td>
                          <input type="checkbox" />
                        </td>
                        <td class="TableTitleInDefineDetail-Tbody-SecondCell">
                          <!-- href="{{ (file.FileName != 'DataSheet' ? enviornment.baseUrl : '') + file.Url }}" -->
                          <a target="_blank">
                            <img class="FileTypeImage"
                              [src]="file.IconUrl"
                              [alt]="file.FileName">
                          </a>
                        </td>
                        <td>
                          <!-- href="{{ (file.FileName != 'DataSheet' ? enviornment.baseUrl : '') + file.Url }}" -->
                          <a target="_blank">
                            <span [innerHtml]="file.FileName"></span>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>

            <!-- peroperies -->
            <section id="Peroperies"
              class="TabBoxBody-Properies tab-pane active">
              <div class="TabBoxBody-Properies-Inner">
                <p class="TableTitleInDefineDetail">Properties</p>
                <table class="table table-bordered table-striped table-condensed table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ruleProperty of ruleProperties">
                      <td><span [innerHtml]="ruleProperty.ParentName_En"></span></td>
                      <td><span [innerHtml]="ruleProperty.PropertyName_En"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <div class="TableTitleInDefineDetail">Specifications</div>
                <table class="table table-bordered table-striped table-condensed table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let technicalProperty of technicalProperties">
                      <td><span [innerHtml]="technicalProperty.TechnicalPropertyName_En"></span></td>
                      <td><span [innerHtml]="technicalProperty.Value_En"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>

            <!-- accessories -->
            <section id="Accessories"
              class="tab-pane ">
              <div class="RelateProductBox">
                <div class="DefineItemInRelated"
                  *ngFor="let accessoryProduct of accessoryProducts">
                  <a [routerLink]="['define-detail-product', accessoryProduct.AccessoryIDX]">
                    <img class="img-responsive Accessory{{ accessoryProduct.AccessoryIDX }}"
                      [src]="enviornment.baseUrl + accessoryProduct.AccessoryPicUrl | getSmallImage"
                      [alt]="accessoryProduct.PartNumber">
                  </a>
                  <div class="Accessories-DefineItemInRelated-Titles">
                    <h6>{{ accessoryProduct.AccessoryPartNumber }}</h6>
                    <h6>{{ accessoryProduct.IndexDescriptionText }}</h6>
                  </div>
                  <div class="Accessories-DefineItemInRelated-Desc">
                    <div class="Accessories-DefineItemInRelated-DescInner">
                      <img [src]="enviornment.baseUrl + accessoryProduct.IndexDescriptionPicUrl"
                        class="IndexDescritionPicInRelated"
                        [alt]="accessoryProduct.AccessoryTechnicalDescription" />
                      <!-- tooltip -->
                      <!-- ng-click="AddToMaterialList(AccessoryProduct.IDDefineDetailAccessory)" -->
                      <img src="assets/img/AddToListWhite.png"
                        class="AddToListButton"
                        data-placement="left"
                        title="Add to List"
                        [alt]="accessoryProduct.AccessoryTechnicalDescription" />
                      <!-- tooltip -->
                      <!-- ng-click="AddToCompareList(AccessoryProduct.IDDefineDetailAccessory,'Accessory'+AccessoryProduct.AccessoryIDX)" -->
                      <img src="assets/img/Compare.png"
                        class="CompareButton"
                        data-placement="left"
                        title="Compare"
                        [alt]="accessoryProduct.AccessoryTechnicalDescription" />
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- RelatedProduct -->
            <section id="RelatedProduct"
              class="tab-pane">
              <div class="RelateProductBox">
                <div class="DefineItemInRelated"
                  *ngFor="let relatedDefineDetailProduct of relatedDefineDetailProducts">
                  <a [routerLink]="['define-detail-product', relatedDefineDetailProduct.IDX]">
                    <!-- RelatedDefine{{ accessoryProduct.AccessoryIDX }} -->
                    <img class="img-responsive"
                      [src]="enviornment.baseUrl + relatedDefineDetailProduct.PicUrl | getSmallImage"
                      [alt]="relatedDefineDetailProduct.PartNumber">
                  </a>
                  <div class="Accessories-DefineItemInRelated-Titles">
                    <h6>{{ relatedDefineDetailProduct.PartNumber }}</h6>
                    <h6>{{ relatedDefineDetailProduct.IndexDescriptionText }}</h6>
                  </div>
                  <div class="Accessories-DefineItemInRelated-Desc">
                    <div class="Accessories-DefineItemInRelated-DescInner">
                      <img class="IndexDescritionPicInRelated"
                        [src]="enviornment.baseUrl + relatedDefineDetailProduct.IndexDescriptionPicUrl"
                        [alt]="relatedDefineDetailProduct.AccessoryTechnicalDescription">
                      <!-- tooltip -->
                      <!-- ng-click="AddToMaterialList(RelatedDefineDetailProduct.IDDefineDetailProduct)" -->
                      <img src="assets/img/AddToListWhite.png"
                        class="AddToListButton"
                        data-placement="left"
                        title="Add to List"
                        [alt]="relatedDefineDetailProduct.AccessoryTechnicalDescription" />
                      <!-- tooltip -->
                      <!-- ng-click="AddToCompareList(RelatedDefineDetailProduct.IDDefineDetailProduct,'RelatedDefine'+AccessoryProduct.AccessoryIDX)" -->
                      <img src="assets/img/Compare.png"
                        class="CompareButton"
                        data-placement="left"
                        title="Compare"
                        [alt]="relatedDefineDetailProduct.AccessoryTechnicalDescription">
                    </div>
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>

      </section>

    </div>

  </section>
  <div class="clearfix"></div>

</article>
