<article class="ArticleContainer"
  *ngIf="rightSideAtricles">

  <!-- navbar (mobile) -->
  <app-navbar></app-navbar>

  <!-- dictionary (desktop) -->
  <!-- href="/DictionaryDescription/{{::Dictionaries.IDX}}" -->
  <a class="DictionaryContainer">
    <span class="DailySentence">اصطلاحات پسیو</span>
    <div>
      <!-- <p class="DicTitle">{{::Dictionaries.Title}}</p> -->
      <!-- <p class="DicAbastract">{{::Dictionaries.Abstract}}</p> -->
    </div>
    <span class="DictionaryContainer-More">ادامه مطلب</span>
  </a>

  <!-- left-side -->
  <app-left-side></app-left-side>

  <!-- content -->
  <section class="MiddleContainer">
    <div class="ArticleListContainer"
      appGetScrollData
      (scrolled)="onScrollDiv($event)">
      <div class="ArticleListContainer-Inner"
        *ngFor="let title of contentTitleLazyLoad">

        <!-- category title -->
        <h2 class="ArticleListContainer-Header Color-Black ContentTitle Font-Bold">{{ title.Title }}</h2>

        <!-- article previews -->
        <div *ngFor="let article of contentArticleLazyLoad">
          <div class="TopArticleContent"
            *ngIf="title.ID === article.IDContentCategory">
            <div class="imgTopArticleContent">
              <!-- href="/Article/{{::Article.IDX}}" -->
              <a>
                <img [src]="article.PicUrl ? enviornment.baseUrl + article.PicUrl : '' | getSmallImage"
                  [alt]="article.Name_Fa" />
              </a>
            </div>
            <div class="TitleTopArticleContent">
              <!-- href="/Article/{{::Article.IDX}}" -->
              <a class="clearfix">
                <span dir="rtl">{{ article.Name_Fa }}</span>
              </a>
              <p class="AbstractArticle clearfix">{{ article.Abstract_Fa }}</p>
              <div class="SocialFooter">
                <div class="LiKeDisLike">
                  <img src="assets/img/full color.png"
                    class="LikeIcon"
                    alt="نوآوران شبکه فربین - Farbin Corporation" />
                  {{ article.LikeCount }} Likes
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- not-found-message -->
        <div class="ArticleListContainer-Error"
          *ngIf="title.ErrorText">
          <p>{{ title.ErrorText }}</p>
        </div>

      </div>
      <!-- <img class="LazyLoadingMiddleGif"
        src="assets/img/ArticleLazyLoadGif.gif"
        alt="نوآوران شبکه فربین - Farbin Corporation">
      <img class="LazyLoadingMiddleGifMobile"
        src="assets/img/ArticleLazyLoadGif.gif"
        alt="نوآوران شبکه فربین - Farbin Corporation"> -->
    </div>
    <!-- onclick="ArticleCategoryCloseAllMenus()" -->
    <div class="ArticleContainer-HinderClicking"></div>
  </section>

  <!-- right-side -->
  <app-right-side [articles]="rightSideAtricles"></app-right-side>

</article>