<article class="ArticleContainer">

  <!-- navbar (mobile) -->
  <app-navbar></app-navbar>

  <!-- dictionary (desktop) -->
  <!-- href="/DictionaryDescription/{{::Dictionaries.IDX}}" -->
  <a class="DictionaryContainer">
    <span class="DailySentence">اصطلاحات پسیو</span>
    <div>
      <!-- <p class="DicTitle">{{::Dictionaries.Title}}</p> -->
      <!-- <p class="DicAbastract">{{::Dictionaries.Abstract}}</p> -->
    </div>
    <span class="DictionaryContainer-More">ادامه مطلب</span>
  </a>

  <!-- left-side -->
  <app-left-side></app-left-side>

  <!-- content -->
  <section class="MiddleContainer">

    <!--  -->
    <section class="ArticleListContainer">

      <!-- ng-repeat="LazyLoadingMiddleTitle in LazyLoadingMiddleTitles" -->
      <div class="ArticleListContainer-Inner">
        <!-- <h2 class="ArticleListContainer-Header Color-Black ContentTitle Font-Bold">{{::LazyLoadingMiddleTitle.Title}}
        </h2> -->
        <section ng-repeat="Article in LazyLoadingMiddleContent">
          <!-- ng-if="LazyLoadingMiddleTitle.ID === Article.IDContentCategory" -->
          <div class="TopArticleContent">

            <!-- image -->
            <section class="imgTopArticleContent">
              <!-- href="/Article/{{::Article.IDX}}" -->
              <a>
                <!-- <img ng-src="{{::Article.PicUrl ? ServerUrl + Article.PicUrl : '' | GetSmallImage}}"
                  alt="{{::Article.Name_Fa}}" /> -->
              </a>
            </section>

            <!-- description -->
            <section class="TitleTopArticleContent">
              <!-- href="/Article/{{::Article.IDX}}" -->
              <a class="clearfix">
                <!-- <span dir="rtl">{{::Article.Name_Fa}}</span> -->
              </a>
              <!-- <p class="AbstractArticle clearfix">{{::Article.Abstract_Fa}}</p> -->
              <div class="SocialFooter">
                <div class="LiKeDisLike">
                  <img src="assets/img/full color.png"
                    class="LikeIcon"
                    alt="نوآوران شبکه فربین - Farbin Corporation" />
                  <!-- {{::Article.LikeCount}} Likes -->
                </div>
              </div>
            </section>

          </div>
        </section>
        <!-- ng-if="LazyLoadingMiddleTitle.ErrorText" -->
        <section class="ArticleListContainer-Error">
          <!-- <p>{{::LazyLoadingMiddleTitle.ErrorText}}</p> -->
        </section>
      </div>

      <!-- loading images -->
      <img class="LazyLoadingMiddleGif"
        src="assets/img/ArticleLazyLoadGif.gif"
        alt="نوآوران شبکه فربین - Farbin Corporation" />
      <img class="LazyLoadingMiddleGifMobile"
        src="assets/img/ArticleLazyLoadGif.gif"
        alt="نوآوران شبکه فربین - Farbin Corporation" />

    </section>

    <!-- onclick="ArticleCategoryCloseAllMenus()" -->
    <div class="ArticleContainer-HinderClicking"></div>

  </section>

  <!-- right-side -->
  <app-right-side></app-right-side>

</article>