/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc !important;
  min-height: 40px !important;
  height: 40px;
  margin-bottom: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.navbar .rightSide-button {
  cursor: pointer;
  width: 60px;
  border-left: 1px solid #ccc;
  padding: 0 9px;
}

.navbar .leftSide-button {
  cursor: pointer;
  width: 60px;
  border-right: 1px solid #ccc;
  padding: 0 9px;
}

.navbar .dialyPhrase {
  display: flex !important;
  flex-flow: column;
  background-color: #333 !important;
  margin: 2px auto 0 auto;
  width: 100%;
}

.navbar .dialyPhrase span {
  color: #ffb700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.navbar .dialyPhrase img {
  width: 15px;
  height: 15px;
  margin: 5px auto 0px auto;
  transform: rotate(180deg);
}

.animate {
  transform: rotate(0deg) !important;
}

/* dialy phrase desc */

.dialyPhrase-desc {
  color: #fff;
  background-color: #333;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 9000;
  transition: 0.5s;
  height: 0px;
}

.dialyPhrase-desc-abs {
  height: 200px;
}

.dialyPhrase-desc-more {
  height: calc(100vh - 160px);
}

.dialyPhrase-desc .title {
  text-align: right;
  margin: 20px;
  font-size: 15px;
  font-weight: bold;
  direction: rtl;
}

.dialyPhrase-desc .abs {
  text-align: right;
  margin: 0px 30px;
  direction: rtl;
  line-height: 22px;
  text-align: justify;
}

.dialyPhrase-desc .more {
  text-align: right;
  margin: 20px 30px 10px 30px;
  overflow-y: scroll;
  direction: rtl;
  width: 84%;
}

.dialyPhrase-desc .more::-webkit-scrollbar {
  display: none;
}

.dialyPhrase-desc .btn {
  position: absolute;
  color: #ffb700;
  cursor: pointer;
  bottom: 10px;
  left: 0px;
  right: 0px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  :host {
    display: none;
  }
}

/* overlay */

.articles-overlay {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  bottom: 55px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.articles-overlay-active {
  display: block;
}
