<section>
  <!-- navbar -->
  <nav class="navbar">
    <img (click)="onToggleLeftSide()" class="leftSide-button"
      [src]="isLeftSideOpen ? 'assets/img/mul.png' : 'assets/img/eq.png'"
      alt="نوآوران شبکه فربین - Farbin Corporation" />

    <div (click)="onOpenDictionaryMenu()" class="dialyPhrase">
      <span>اصطلاحات پسیو</span>
      <img [ngClass]="{'animate': isDictionaryMenuOpen}" src="assets/img/down.png"
        alt="نوآوران شبکه فربین - Farbin Corporation" />
    </div>

    <img (click)="onToggleRightSide()" class="rightSide-button"
      [src]="isRightSideOpen ? 'assets/img/mul.png' : 'assets/img/eq.png'"
      alt="نوآوران شبکه فربین - Farbin Corporation" />
  </nav>

  <!-- dialy phrase desc -->
  <section class="dialyPhrase-desc" *ngIf="isDictionaryMenuOpen"
    [ngClass]="{ 'dialyPhrase-desc-abs': isDictionaryMenuOpen, 'dialyPhrase-desc-more': isDialyPhraseOpen }">
    <p class="title">{{ dictionary.Title }}</p>
    <p class="abs">{{ dictionary.Abstract }}</p>
    <p class="more" [innerHtml]="dictionary.Value" *ngIf="isDialyPhraseOpen"></p>
    <span class="btn" (click)="onOpenDictionaryMoreDetails()">{{ isDialyPhraseOpen ? '×' : 'بیشتر' }}</span>
  </section>
</section>