<article id="TrainingModule-Wrapper"
  class="TrainingMain">

  <!-- main slider -->
  <section class="StaticMainSlider TrainingMain-MainSlider">
    <owl-carousel-o id="TrainingOwlCarousel"
      class="TrainingMainPage-OwlCarousel"
      [options]="customStaticSlideOptions">
      <ng-template carouselSlide>
        <div class="item">
          <img src="assets/img/TrainingMainSlideMobile3.jpg"
            class="hidden-sm hidden-md hidden-lg hidden-xl"
            alt="دوره های آموزشی فربین">
          <img class="hidden-xs"
            src="assets/img/TrainingMainSlide3.jpg"
            alt="دوره های آموزشی فربین">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img class="hidden-sm hidden-md hidden-lg hidden-xl"
            src="assets/img/TrainingMainSlideMobile1.jpg"
            alt="دوره های آموزشی فربین">
          <img class="hidden-xs"
            src="assets/img/TrainingMainSlide1.jpg"
            alt="دوره های آموزشی فربین">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img class="hidden-sm hidden-md hidden-lg hidden-xl"
            src="assets/img/TrainingMainSlideMobile2.jpg"
            alt="دوره های آموزشی فربین">
          <img class="hidden-xs"
            src="assets/img/TrainingMainSlide2.jpg"
            alt="دوره های آموزشی فربین">
        </div>
      </ng-template>
    </owl-carousel-o>
  </section>

  <!-- topics -->
  <section class="TrainingModule-MainTopic-Wrapper">
    <article class="row TrainingModule-MainTopic-Inner">

      <!-- brand supporter -->
      <section class="col-xs-12 col-sm-6 TrainingModule-MainTopic-ItemWrapper">
        <!-- ng-click="OpenDynamicModal1($event, 1, undefined)" -->
        <div class="TrainingModule-MainTopic TrainingModule-MainTopic-BrandSupporter">
          <div class="MainTopic-Desc">
            <h3>متولیان برند</h3>
            <p>آیا به دنبال یک مجموعه تخصصی برای معرفی برند پسیو خود هستید؟</p>
          </div>
        </div>
      </section>

      <!-- infrastructure -->
      <section class="col-xs-12 col-sm-6 TrainingModule-MainTopic-ItemWrapper">
        <!-- ng-click="OpenDynamicModal1($event, 2, undefined)" -->
        <div class="TrainingModule-MainTopic TrainingModule-MainTopic-Infrastructure">
          <div class="MainTopic-Desc">
            <h3>زیرساخت</h3>
            <p>با فربین صنعت زیرساخت شبکه را برای آینده حرفه ای خود انتخاب کنید</p>
          </div>
        </div>
      </section>

    </article>
  </section>
  <hr class="ColorLightGrayHr TrainingModuleHr">

  <!-- courses -->
  <section class="TrainingModule-TrainingCoursesReview-Wrapper">
    <div class="TrainingModule-Title">
      <h1>سرفصل های دوره آموزش پسیو</h1>
    </div>
    <div class="row TrainingModule-TrainingCoursesReview-Body">
      <div class="col-xs-12 col-sm-4 FloatRight TrainingModule-TrainingCoursesReview-Inner"
        *ngFor="let trainingCourse of trainingCourses | orderBy: '-'">
        <!-- href="/TrainingCourses/{{::TrainingCourseCat.TrainingCourseCategory[0].IDX}}" -->
        <a class="TrainingModule-TrainingCoursesReview-ItemWrapper">
          <img [src]="enviornment.baseUrl + trainingCourse.TrainingCourseCategory[0].PicUrl | getSmallImage"
            alt="{{ trainingCourse.TrainingCourseCategory[0].Name_Fa }}" />
          <div class="TrainingModule-TrainingCoursesReview-ItemDesc">
            <h3 class="ColorBlue">{{ trainingCourse.TrainingCourseCategory[0].Name_Fa }}</h3>
            <p class="TextAlignLeft ColorBlue TrainingModule-TrainingCoursesReview-NameShort">{{ trainingCourse.TrainingCourseCategory[0].Caption }}</p>
            <p class="TextAlignLeft">{{ trainingCourse.TrainingCourseCategory[0].ShortDescription }}</p>
            <p class="ColorLightGray TrainingModule-TrainingCoursesReview-ItemDescFa">{{ trainingCourse.Name_Fa }}</p>
          </div>
        </a>
      </div>
    </div>
  </section>
  <hr class="ColorLightGrayHr TrainingModuleHr" />

  <!-- courses gallery -->
  <section class="TrainingModule-CoursesGallery-Wrapper">
    <div class="TrainingModule-Title">
      <p>دوره های برگزار شده</p>
    </div>
    <div class="row TrainingModule-CoursesGallery-Body">
      <!-- href="/TrainingCoursesHeld/{{::TrainingCourse.IDX}}" -->
      <a class="col-xs-6 col-sm-4 TrainingModule-CoursesGallery-ItemOuter"
      *ngFor="let trainingCourseHeld of trianingCoursesHeld | slice:0:6 | orderBy: '-EndDate'">
        <div class="TrainingModule-CoursesGallery-ItemWrapper">
          <img class="TrainingModule-CoursesGallery-ItemImage"
              [src]="enviornment.baseUrl + trainingCourseHeld.PicUrl | getSmallImage"
              alt="{{ trainingCourseHeld.Name_Fa }}" />
          <div class="TrainingModule-CoursesGallery-ItemDesc">
            <p class="TrainingModule-CoursesGallery-ItemDescLonger">{{ trainingCourseHeld.Name_Fa }}</p>
            <p class="TextAlignLeft TrainingModule-CoursesGallery-ItemDescShorter">{{ trainingCourseHeld.TrainingCourseCategoryName_Fa }}</p>
          </div>
        </div>
      </a>
    </div>
  </section>

  <!-- all courses link -->
  <!-- href="/TrainingCoursesCompanyCategory" -->
  <a class="TrainingModule-AllCoursesLink">
    <p>نمایش همه دوره ها</p>
    <i class="fa fa-angle-left"></i>
  </a>

</article>