<article class="LeftSideArticleList" [ngClass]="{'LeftSideArticleList-Active': isLeftSideMenuOpen}">
  <!-- panel links -->
  <section class="LeftSideArticleList-HeaderWrapper">
    <div class="LeftSideArticleList-HeaderInner">

      <a class="LeftSideArticleList-HeaderLink">
        <img class="LeftSideArticleList-HeaderLink-icon" src="assets/img/personaaa.png"
          alt="نوآوران شبکه فربین - Farbin Corporation" />
        <div class="LeftSideArticleList-HeaderLink-desc">
          <span class="LeftSideArticleList-Header-LinkEn">For You</span>
          <span class="LeftSideArticleList-Header-LinkFa">برای شما</span>
        </div>
      </a>

      <a class="LeftSideArticleList-HeaderLink">
        <img class="LeftSideArticleList-HeaderLink-icon" src="assets/img/staraaa.png"
          alt="نوآوران شبکه فربین - Farbin Corporation" />
        <div class="LeftSideArticleList-HeaderLink-desc">
          <span class="LeftSideArticleList-Header-LinkEn">Favorites</span>
          <span class="LeftSideArticleList-Header-LinkFa">علاقه مندی ها</span>
        </div>
      </a>

    </div>
  </section>

  <!-- dynamic links -->
  <section class="LeftSideArticleList-BodyWrapper">
    <!-- main link -->
    <a [routerLink]="['/article-category']"
      class="LeftSideArticleList-HeaderLink LeftSideArticleList-HeaderLink-LatestArticle"
      (click)="onChooseLatestArticles()">
      <img class="LeftSideArticleList-HeaderLink-icon" src="assets/img/writingaaa.png"
        alt="نوآوران شبکه فربین - Farbin Corporation" />
      <div class="LeftSideArticleList-HeaderLink-desc">
        <span class="LeftSideArticleList-Header-LinkEn"
          [ngClass]="{'LeftSideArticleList-Header-LinkActive': isLatestArticlesClicked}">LatestArticles</span>
        <span [ngClass]="{'LeftSideArticleList-Header-LinkActive': isLatestArticlesClicked}"
          class="LeftSideArticleList-Header-LinkFa">آخرین مقالات</span>
      </div>
    </a>

    <!-- other links -->
    <div class="LeftSideArticleList-BodyScrolling">
      <div class="LeftSideArticleList-BodyInner">
        <a *ngFor="let article of articles" class="LeftSideArticleList-Body-Link"
          [routerLink]="['/article-category', article.IDX]" routerLinkActive="LeftSideArticleList-Header-LinkActive"
          (click)="onSendCategoryItems(article)">{{ article.Title }}</a>
      </div>
    </div>
  </section>
</article>