<aside class="AboutUsSubCategory-Sides AboutUsSubCategory-RightSide">
  <section class="AboutUsSubCategory-RightSideWrapper">
    <ul class="AboutUsSubCategory-RightSide-CategoryWrapper">
      <li class="AboutUsSubCategory-RightSide-Categories">
        <!-- onclick="StaticMenuToggling(event)" -->
        <a class="AboutUsSubCategory-RightSide-MainCategoriy">> اخبار و
          وقایع</a>
        <ul class="AboutUsSubCategory-RightSide-SubCategories StaticMenuTogglingSubmenu">
          <!-- href="/AboutUsNewsLetter" -->
          <li><a>آرشیو خبرنامه</a></li>
          <!-- href="/IncidentCategory" -->
          <li><a>آرشیو نمایشگاه ها</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
