<aside class="AboutUsSubCategory-Sides AboutUsSubCategory-RightSide">
  <section class="AboutUsSubCategory-RightSideWrapper">
    <ul class="AboutUsSubCategory-RightSide-CategoryWrapper">
      <li class="AboutUsSubCategory-RightSide-Categories">
        <a class="AboutUsSubCategory-RightSide-MainCategoriy" (click)="onToggleMenu()">
          > اخبار و وقایع
        </a>
        <ul class="AboutUsSubCategory-RightSide-SubCategories StaticMenuTogglingSubmenu" [ngClass]="{
            'AboutUsSubCategory-RightSide-SubCategories-Active': isNewsAndEventsPages
          }">
          <li>
            <a [routerLink]="['/about-us/news-and-events/newsletter-list']"
              routerLinkActive="AboutUsSubCategory-RightSide-SubCategoriesLink-Active">آرشیو خبرنامه</a>
          </li>
          <li><a [routerLink]="['/about-us/news-and-events/incident-list']"
              routerLinkActive="AboutUsSubCategory-RightSide-SubCategoriesLink-Active">آرشیو نمایشگاه ها</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>