/* desktop */

.ProductCarousel-OwlCarousel {
  margin: 10px 0px 40px 0px;
  direction: ltr;
}

.ProductCarousel .owl-carousel .owl-wrapper-outer {
  overflow: unset;
}

.ProductCarousel-Desktop-MainCarousel {
  margin: 5px 0 50px 0;
}

.ProductCarousel-Desktop-MainCarousel-Item {
  margin: 5px 15px 5px 5px;
  margin: 0 10px;
}

.ProductCarousel-OwlCarousel.owl-carousel.owl-drag .owl-item {
  padding: 0 10px;
}

.ProductCarousel-Desktop-MainCarousel-ItemInner {
  width: 100%;
  display: block;
  padding: 0 10px;
}

.ProductCarousel-Desktop-MainCarousel-ItemMainImage {
  width: 100%;
}

.ProductCarousel-Desktop-MainCarousel-ItemDesc {
  width: 70%;
  margin-top: 5px;
  float: left;
}

.ProductCarousel-Desktop-MainCarousel-Thumbnail {
  width: 30%;
  margin-top: 5px;
  float: left;
  display: flex;
  flex-flow: row-reverse;
  padding-right: 5px;
}

.ProductCarousel-Desktop-MainCarousel-Thumbnail-RandomImage {
  width: 7px !important;
  height: 37px;
  float: right;
  display: inline-block;
  border: 1px solid #333333;
}

.ProductCarousel-Desktop-MainCarousel-ThumbnailDesc {
  float: right;
}

/* mobile */

.ProductCarousel-Mobile {
  display: flex;
  overflow-x: auto;
  min-width: 0;
  min-height: 0;
  /* scrollbar-color: green red; */
}

.ProductCarousel-Mobile::-webkit-scrollbar {
  height: 2px;
}

.ProductCarousel-Mobile::-webkit-scrollbar-track {
  margin-right: 5px;
  background-color: transparent;
}

.ProductCarousel-Mobile::-webkit-scrollbar-thumb {
  background-color: #666695;
  outline: 1px solid #666695;
}

.ProductCarousel-Mobile-Inner {
  margin: 5px 10px 10px 10px;
  display: inline-block;
}

.ProductCarousel-Mobile-MainIamge img {
  width: 120px;
}

.ProductCarousel-Mobile-Thumbnail {
  display: flex;
  flex-flow: row wrap;
}

.ProductCarousel-Mobile-Thumbnail-Desc {
  margin-right: auto;
}

.ProductCarousel-Mobile-Thumbnail-UnderSpotPartNumber {
  display: block;
  font-size: 15px;
  color: #81b7cc;
  margin-top: 5px;
}

.ProductCarousel-Mobile-Thumbnail-UnderSpotPartIndex {
  display: block;
  font-size: 10px;
  color: #fff;
  margin-top: 6px;
  display: block;
}

.ProductCarousel-Mobile-Thumbnail-Buttons {
  margin-top: 5px;
  display: flex;
  flex-flow: column wrap;
}

.ProductCarousel-Mobile-Thumbnail-ItemColor {
  margin-top: 5px;
  width: 7px;
  height: 40px;
  border: 1px solid #333333;
}

/* AddToList button */

.AddToListButton {
  width: 15px !important;
  float: right;
  margin: 3px 5px 5px 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .AddToListButton {
    width: 16px !important;
  }
}

@media screen and (min-width: 992px) {
  .AddToListButton {
    width: 20px;
  }
}

/* Compare button */

.CompareButton {
  width: 15px !important;
  float: right;
  margin: 3px 5px 5px 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .CompareButton {
    width: 16px !important;
    float: right;
    margin: 3px 5px 5px 0;
    cursor: pointer;
  }
}