<section *ngIf="article">
  <!-- *ngIf="title.ID === article.IDContentCategory" -->
  <div class="TopArticleContent">
    <a class="imgTopArticleContent" [routerLink]="['article', article.IDX]">
      <img [src]="article.PicUrl ? enviornment.baseUrl + article.PicUrl : '' | getSmallImage"
        alt="{{ article.Name_Fa }}" />
    </a>
    <div class="TitleTopArticleContent">
      <a class="clearfix" [routerLink]="['article', article.IDX]">{{ article.Name_Fa }}</a>
      <p class="AbstractArticle clearfix">{{ article.Abstract_Fa }}</p>
      <div class="LiKeDisLike">
        <img src="assets/img/full color.png" class="LikeIcon" alt="نوآوران شبکه فربین - Farbin Corporation" />
        {{ article.LikeCount }} Likes
      </div>
    </div>
  </div>
</section>