<article class="TrainingAttendance">
  <div class="TrainingAttendance-Outer">

    <!-- head -->
    <section class="TrainingAttendance-Head">
      <div class="TrainingAttendance-Head-Inner">
        <div class="TrainingAttendance-Head-ProfileInfo">
          <!-- <h1>{{::PersonelData[0].FName_Fa}} {{::PersonelData[0].LName_Fa}}</h1> -->
        </div>
        <div class="TrainingAttendance-Head-PorfileImage">
          <!-- <img ng-class="{'TrainingAttendance-Head-BlankImage': !PersonelData[0].PicUrl}" 
            ng-src="{{::PersonelData[0].PicUrl ? ServerUrl + PersonelData[0].PicUrl : '/images/blank.png'}}" 
            alt="دوره های آموزشی پسیو شبکه - F101 - F102 - F103" /> -->
        </div>
      </div>
    </section>
    <hr>

    <!-- certificate -->
    <!-- ng-if="PersonelData[0].Certifications" -->
    <section class="TrainingAttendance-Certificate">
      <div class="TrainingAttendance-Certificate-Inner">
        <div class="TrainingAttendance-Certificate-Title">
          <h3>گواهینامه پایان دوره</h3>
        </div>
        <!-- <section class="TrainingAttendance-Certificate-Carousel"
          gallerycarousel
          datasource="PersonelData[0].Certifications"
          staticurl="'/images/docx.png'"
          dynamicfieldimage="'Url'"
          desktopcarouseloptions="{
            stagePadding: 20,
            items: 3,
            responsive: { 1024: { items: 6 } }
          }" 
          mobilecarouseloptions="{
            itemsMobile: [500,1.7],
            itemsTablet: [768,0],
            itemsDesktop: [1024,4]
          }">
        </section> -->
      </div>
    </section>

  </div>
</article>