<article class="Incident">
  <div class="Incident-Inner">

    <!-- head -->
    <section class="Incident-Header">
      <div class="Incident-Header-Title">
        <h1>{{ incident.Name_Fa }}</h1>
      </div>
      <div class="Incident-Header-MainImage">
        <img [src]="enviornment.baseUrl + incident.PicUrl" alt="{{ incident.Name_Fa }}" />
      </div>
      <hr />
    </section>

    <!-- main description -->
    <section class="Incident-Section">
      <div class="Incident-MainDesc" [innerHtml]="incident.Description_Fa"></div>
      <hr />
    </section>

    <!-- image gallary -->
    <section *ngIf="incident.Images" class="Incident-Section">
      <div class="Incident-Section-Title">
        <h3>تصاویر</h3>
        <h3 class="Incident-Section-TitleEn">Images</h3>
      </div>
      <!-- Carousel -->
      <!-- <section gallerycarousel datasource="ExhibitionHeld.Images" staticurl="'/images/docx.png'"
        dynamicfieldimage="'Url'" desktopcarouseloptions="{
          stagePadding: 20,
          items: 3,
          responsive: { 1024: { items: 6 } }
        }" mobilecarouseloptions="{
          itemsMobile: [500,1.7],
          itemsTablet: [768,0],
          itemsDesktop: [1024,5]
        }">
      </section> -->
      <hr />
    </section>

    <!-- video gallery -->
    <section *ngIf="incident.Videos" class="Incident-Section">
      <div class="Incident-Section-Title">
        <h3>ویدیوها</h3>
        <h3 class="Incident-Section-TitleEn">Videos</h3>
      </div>
      <!-- Carousel -->
      <!-- <section gallerycarousel datasource="ExhibitionHeld.Videos" staticurl="'/images/docx.png'"
        dynamicfieldimage="'Url'" desktopcarouseloptions="{
          stagePadding: 20,
          items: 3,
          responsive: { 1024: { items: 6 } }
        }" mobilecarouseloptions="{
          itemsMobile: [500,1.7],
          itemsTablet: [768,0],
          itemsDesktop: [1024,5]
        }">
      </section> -->
      <hr />
    </section>

    <!-- greetings -->
    <section *ngIf="incident.Greetings" class="Incident-Section">
      <div class="Incident-Section-Title">
        <h3>تقدیرنامه ها</h3>
        <h3 class="Incident-Section-TitleEn">Greetings</h3>
      </div>
      <!-- Caousel -->
      <!-- <section gallerycarousel datasource="ExhibitionHeld.Greetings" staticurl="'/images/docx.png'"
        dynamicfieldimage="'Url'" desktopcarouseloptions="{
          stagePadding: 20,
          items: 3,
          responsive: { 1024: { items: 6 } }
        }" mobilecarouseloptions="{
          itemsMobile: [500,1.7],
          itemsTablet: [768,0],
          itemsDesktop: [1024,5]
        }">
      </section> -->
      <hr />
    </section>

  </div>
</article>